In [1]:
#Import packages into python kernel
import pandas as pd
import numpy as np
import plotly.express as px
import pypyodbc
import os.path
import os,sys
from datetime import datetime, timedelta
import logging
from dotenv import load_dotenv
load_dotenv()

#Logging provide an extra set of eyes that are constantly looking at the flow and
#debug errors easily but also use the data to analyze the performance of the application 
#to plan for scaling or look at usage patterns to plan for marketing.
#Start Automation Process & save as Automation.log
logger = logging.getLogger("Automation")
logger.setLevel(logging.INFO)
if logger.hasHandlers():
    logger.handlers.clear()
file_handler = logging.FileHandler("Automation.log")
file_handler.setLevel(logging.INFO)
formatter = logging.Formatter('%(asctime)s:%(levelname)s:%(message)s')
file_handler.setFormatter(formatter)
logger.addHandler(file_handler)

logger.info("******** Automation Process *********")

In [2]:
#Get today's date into today
t = datetime.now() - timedelta(8)
today = datetime.strftime(t, '%m/%d/%Y')
today

'05/31/2022'

In [3]:
#Assign all data of Summary_Data.csv file for summary_data
summary_data = pd.read_csv(r'C:\Users\Lenovo\Summary_Data.csv')

In [4]:
#Get summary_data['f1_leg']='A', sumary_data[f1_type_name]='o-d'or'transfer'
#group by column['fl_afskey'],['fl_leg']& summation on column ['fl_type_count']
#remove column['fl_afskey']=0
a_summary = summary_data[(summary_data['fl_leg']=='A') & (summary_data['fl_type_name'].isin(['o-d','transfer']))][['fl_internal_key','fl_afskey','fl_leg','fl_type_name','fl_type_count']].reset_index(drop=True)
a_summary = a_summary.groupby(['fl_afskey','fl_leg'])['fl_type_count'].sum().reset_index()
a_summary = a_summary[a_summary['fl_afskey']!=0]

In [5]:
#Display data
a_summary.head()

   fl_afskey fl_leg  fl_type_count
1   10162443      A            117
2   10163430      A             92
3   10180618      A             26
4   10400765      A             79
5   10427764      A             58

In [6]:
#Get summary_data['f1_leg']='D', sumary_data[f1_type_name]='o-d'or'transfer'or'transit'or'transitinfants'
#group by column['fl_afskey'],['fl_leg']& summation on column ['fl_type_count']
#remove rows for column['fl_afskey']=0

d_summary = summary_data[(summary_data['fl_leg']=='D') & (summary_data['fl_type_name'].isin(['o-d','transfer','transit','transitinfants']))][['fl_internal_key','fl_afskey','fl_leg','fl_type_name','fl_type_count']].reset_index(drop=True)
d_summary = d_summary.groupby(['fl_afskey','fl_leg'])['fl_type_count'].sum().reset_index()
d_summary = d_summary[d_summary['fl_afskey']!=0]

In [7]:
#Display data
d_summary.head()

   fl_afskey fl_leg  fl_type_count
1   10758155      D             74
2   10758370      D            182
3   10761123      D            157
4   10762786      D            121
5   10764325      D            261

In [8]:
#Combine Dataframe of a_summary & d_summary

pd.options.display.min_rows = 100
a_d_summary = pd.concat([a_summary,d_summary]).reset_index(drop=True)
a_d_summary

       fl_afskey fl_leg  fl_type_count
0       10162443      A            117
1       10163430      A             92
2       10180618      A             26
3       10400765      A             79
4       10427764      A             58
5       10507828      A             90
6       10645247      A             94
7       10735096      A             80
8       10748017      A            103
9       10753322      A            121
10      10753589      A             95
11      10755226      A            114
12      10759958      A            132
13      10761382      A            137
14      10763244      A             79
15      10763764      A             83
16      10763900      A              0
17      10764705      A             67
18      10765265      A              0
19      10766253      A            104
20      10768094      A             41
21      10769421      A             99
22      10770612      A             61
23      10771145      A            112
24      10772075      A             84
25      10772487      A              1
26      10775451      A             93
27      10777076      A            103
28      10777448      A             37
29      10780636      A              2
...          ...    ...            ...
20679   10891805      D            173
20680   10891810      D            154
20681   10891840      D            164
20682   10891843      D            163
20683   10891845      D            167
20684   10891851      D            162
20685   10891853      D            179
20686   10891857      D            171
20687   10891861      D            156
20688   10891934      D            178
20689   10892786      D            110
20690   10892787      D            152
20691   10892789      D            179
20692   10892891      D            180
20693   10892912      D            343
20694   10892946      D            159
20695   10893463      D            116
20696   10893464      D            146
20697   10893465      D            166
20698   10893487      D            168
20699   10894431      D            163
20700   10894445      D            291
20701   10894467      D            162
20702   10894974      D            112
20703   10894975      D            169
20704   10894976      D            171
20705   10895011      D            174
20706   10895078      D             49
20707   10895878      D             23
20708   10895894      D             28

[20709 rows x 3 columns]

In [9]:
#Assign all data of Flight_Details.csv file for flight_details
flight_details = pd.read_csv(r'C:\Users\Lenovo\Flight_Details.csv')

In [10]:
#Assign flight_details1 equal to flight_details with columns['fl_internal_key','fl_afskey','fl_tail_registration','fl_actual_time','fl_leg','fl_aircraft_type','fl_routing']
#Remove space before & after inside the string of flight_details1['fl_routing']
#If value of column fl_leg='D' Assign flight_details1['fl_routing'] = string after coma, else flight_details1['fl_routing'] = string after coma, 
#Remove rows for column['fl_afskey']=0
flight_details1 = flight_details[['fl_internal_key','fl_afskey','fl_tail_registration','fl_actual_time','fl_leg','fl_aircraft_type','fl_routing']]
flight_details1['fl_routing'] = flight_details1['fl_routing'].str.strip()
flight_details1['fl_routing'] = flight_details1.apply(lambda val: val.fl_routing.split(",")[-1] if val.fl_leg =='D' else val.fl_routing.split(",")[0],axis=1)
flight_details1 = flight_details1[flight_details1['fl_afskey']!=0]

flight_details1

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7636\2835765229.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flight_details1['fl_routing'] = flight_details1['fl_routing'].str.strip()
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7636\2835765229.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flight_details1['fl_routing'] = flight_details1.apply(lambda val: val.fl_routing.split(",")[-1] if val.fl_leg =='D' else val.fl_routing.split(",")[0],axis=1)

,fl_internal_key,fl_afskey,fl_tail_registration,fl_actual_time,fl_leg,fl_aircraft_type,fl_routing
0,3863734,10791709,A7BEN,1/03/2022 8:08,A,77W,DOH
1,3863831,10791670,9VOJJ,1/03/2022 19:27,A,789,SIN
2,3863832,10791063,9VOJJ,1/03/2022 20:48,D,789,SIN
3,3863851,10792260,HZARD,1/03/2022 12:06,A,789,MED
4,3863852,10792261,HZAK23,1/03/2022 16:57,A,77W,JED
5,3863853,10791677,TCLJF,1/03/2022 16:51,A,77W,IST
6,3863855,10791647,A6EGI,1/03/2022 19:11,A,77W,DXB
7,3863856,10791644,A6EBY,1/03/2022 14:07,A,773,DXB
8,3863857,10791652,A6EBQ,1/03/2022 23:30,A,77W,AKL
9,3863858,10791690,RPC9903,1/03/2022 10:43,A,321,MNL
10,3863859,10791667,PHBVS,1/03/2022 18:35,A,77W,AMS
11,3863865,10792098,VTAXW,1/03/2022 14:36,A,738,TRZ
12,3863866,10792245,A7BEN,1/03/2022 17:46,A,77W,CEB
13,3863867,10791692,9VSMQ,1/03/2022 10:32,A,359,SIN
14,3863868,10791698,9VMBB,1/03/2022 19:17,A,7M8,SIN
15,3863869,10791668,9VSMC,1/03/2022 9:10,A,359,SIN
16,3863874,10789814,A7BAY,1/03/2022 3:12,D,77W,DOH
17,3863883,10791634,9VJSK,1/03/2022 8:14,A,320,SIN
18,3863886,10790391,9MMTH,1/03/2022 3:32,A,333,SYD
19,3863887,10791640,B18053,1/03/2022 12:36,A,77W,TPE
20,3863889,10791638,9VJSK,1/03/2022 20:17,A,320,SIN
21,3863893,10791683,JA869J,1/03/2022 17:37,A,789,NRT
22,3863894,10791682,B1111,1/03/2022 11:37,A,789,PVG
23,3863895,10791697,S2AJC,1/03/2022 15:39,A,738,DAC
24,3863896,10789789,A6EGI,1/03/2022 1:42,D,77W,DXB
25,3863898,10791729,9MMXN,1/03/2022 18:04,A,738,TGG
26,3863899,10792509,9MMXW,1/03/2022 15:29,A,738,LGK
27,3863900,10791798,9MMSG,1/03/2022 10:53,A,738,KBR
28,3863901,10791944,9MMXB,1/03/2022 19:46,A,738,MYY
29,3863902,10791985,9MMTC,1/03/2022 15:24,A,333,SIN
...,...,...,...,...,...,...,...
17565,3883618,10877166,9MLCR,24/04/2022 9:43,D,738,SIN
17566,3883620,10878455,9MLNP,24/04/2022 18:38,D,73H,KNO
17567,3883621,10877685,9MLNV,24/04/2022 15:52,D,73H,CGK
17568,3883622,10877110,9MLNV,25/04/2022 8:05,D,73H,BKI
17569,3883623,10877158,9MLCR,24/04/2022 20:19,D,738,DAC
17570,3883624,10877165,9MLCR,24/04/2022 13:57,D,738,CGK
17571,3883625,10880226,9MLCR,26/04/2022 9:45,D,738,SIN
17572,3883626,10880158,9MLCR,25/04/2022 13:38,D,738,CGK
17573,3883627,10878909,9MLNV,25/04/2022 22:30,D,73H,TRZ
17574,3883628,10878905,9MLCR,25/04/2022 20:24,D,738,DAC
17575,3883629,10877111,9MLNP,25/04/2022 8:26,D,73H,KCH
17576,3883630,10879291,9MLNV,25/04/2022 15:57,D,73H,CGK
17577,3883631,10879265,9MLNP,25/04/2022 19:58,D,73H,KTM
17578,3883632,10878913,9MLCR,25/04/2022 9:42,D,738,SIN
17579,3883633,10880218,9MLCR,26/04/2022 20:27,D,738,DAC
17580,3883634,10880539,9MLNP,26/04/2022 13:23,D,73H,KCH
17581,3883635,10880222,9MLNV,26/04/2022 22:20,D,73H,TRZ
17582,3883636,10880225,9MLCR,26/04/2022 13:54,D,738,CGK
17583,3883637,10880822,9MLNV,26/04/2022 16:13,D,73H,CGK
17584,3883638,10880607,9MLNV,26/04/2022 10:13,D,73H,CGK
17585,3883645,10880538,9MLNP,26/04/2022 18:43,D,73H,LHE
17586,3883698,10879979,9MAJG,26/04/2022 6:03,A,320,MAA
17587,3883923,10877944,9MMTV,25/04/2022 7:00,A,332,DEL
17588,3884897,10873535,9MMXE,21/04/2022 22:45,A,738,BKI
17589,3884898,10877929,9MMXO,24/04/2022 21:43,A,738,PER
17590,3884899,10864915,9MMTW,14/04/2022 17:19,A,332,BKK
17591,3884906,10846348,XYALB,31/03/2022 11:10,A,73H,RGN
17592,3885205,10874001,RPC9918,22/04/2022 13:23,D,321,MNL
17593,3885206,10875759,RPC9918,23/04/2022 13:14,D,321,MNL
17594,3885208,10878926,RPC9926,25/04/2022 13:21,D,321,MNL

In [11]:
#Merge by left join of flight_details1 as a & a_d_summary as b where a.fl_afskey=b.fl_afskey & a.fl_leg=b.fl_leg
#Remove all 0 data in dataframe of flight_details1
flight_details1 = pd.merge(flight_details1,a_d_summary,how='left',on=['fl_afskey','fl_leg'])
flight_details1 = flight_details1[flight_details1['fl_afskey']!=0]

In [12]:
#Display data
flight_details1

,fl_internal_key,fl_afskey,fl_tail_registration,fl_actual_time,fl_leg,fl_aircraft_type,fl_routing,fl_type_count
0,3863734,10791709,A7BEN,1/03/2022 8:08,A,77W,DOH,187
1,3863831,10791670,9VOJJ,1/03/2022 19:27,A,789,SIN,231
2,3863832,10791063,9VOJJ,1/03/2022 20:48,D,789,SIN,291
3,3863851,10792260,HZARD,1/03/2022 12:06,A,789,MED,177
4,3863852,10792261,HZAK23,1/03/2022 16:57,A,77W,JED,360
5,3863853,10791677,TCLJF,1/03/2022 16:51,A,77W,IST,117
6,3863855,10791647,A6EGI,1/03/2022 19:11,A,77W,DXB,76
7,3863856,10791644,A6EBY,1/03/2022 14:07,A,773,DXB,257
8,3863857,10791652,A6EBQ,1/03/2022 23:30,A,77W,AKL,0
9,3863858,10791690,RPC9903,1/03/2022 10:43,A,321,MNL,9
10,3863859,10791667,PHBVS,1/03/2022 18:35,A,77W,AMS,48
11,3863865,10792098,VTAXW,1/03/2022 14:36,A,738,TRZ,34
12,3863866,10792245,A7BEN,1/03/2022 17:46,A,77W,CEB,0
13,3863867,10791692,9VSMQ,1/03/2022 10:32,A,359,SIN,95
14,3863868,10791698,9VMBB,1/03/2022 19:17,A,7M8,SIN,51
15,3863869,10791668,9VSMC,1/03/2022 9:10,A,359,SIN,187
16,3863874,10789814,A7BAY,1/03/2022 3:12,D,77W,DOH,399
17,3863883,10791634,9VJSK,1/03/2022 8:14,A,320,SIN,107
18,3863886,10790391,9MMTH,1/03/2022 3:32,A,333,SYD,0
19,3863887,10791640,B18053,1/03/2022 12:36,A,77W,TPE,0
20,3863889,10791638,9VJSK,1/03/2022 20:17,A,320,SIN,9
21,3863893,10791683,JA869J,1/03/2022 17:37,A,789,NRT,23
22,3863894,10791682,B1111,1/03/2022 11:37,A,789,PVG,0
23,3863895,10791697,S2AJC,1/03/2022 15:39,A,738,DAC,132
24,3863896,10789789,A6EGI,1/03/2022 1:42,D,77W,DXB,348
25,3863898,10791729,9MMXN,1/03/2022 18:04,A,738,TGG,82
26,3863899,10792509,9MMXW,1/03/2022 15:29,A,738,LGK,69
27,3863900,10791798,9MMSG,1/03/2022 10:53,A,738,KBR,80
28,3863901,10791944,9MMXB,1/03/2022 19:46,A,738,MYY,91
29,3863902,10791985,9MMTC,1/03/2022 15:24,A,333,SIN,159
...,...,...,...,...,...,...,...,...
17563,3883618,10877166,9MLCR,24/04/2022 9:43,D,738,SIN,51
17564,3883620,10878455,9MLNP,24/04/2022 18:38,D,73H,KNO,158
17565,3883621,10877685,9MLNV,24/04/2022 15:52,D,73H,CGK,154
17566,3883622,10877110,9MLNV,25/04/2022 8:05,D,73H,BKI,148
17567,3883623,10877158,9MLCR,24/04/2022 20:19,D,738,DAC,141
17568,3883624,10877165,9MLCR,24/04/2022 13:57,D,738,CGK,155
17569,3883625,10880226,9MLCR,26/04/2022 9:45,D,738,SIN,47
17570,3883626,10880158,9MLCR,25/04/2022 13:38,D,738,CGK,148
17571,3883627,10878909,9MLNV,25/04/2022 22:30,D,73H,TRZ,137
17572,3883628,10878905,9MLCR,25/04/2022 20:24,D,738,DAC,149
17573,3883629,10877111,9MLNP,25/04/2022 8:26,D,73H,KCH,130
17574,3883630,10879291,9MLNV,25/04/2022 15:57,D,73H,CGK,145
17575,3883631,10879265,9MLNP,25/04/2022 19:58,D,73H,KTM,140
17576,3883632,10878913,9MLCR,25/04/2022 9:42,D,738,SIN,88
17577,3883633,10880218,9MLCR,26/04/2022 20:27,D,738,DAC,148
17578,3883634,10880539,9MLNP,26/04/2022 13:23,D,73H,KCH,130
17579,3883635,10880222,9MLNV,26/04/2022 22:20,D,73H,TRZ,150
17580,3883636,10880225,9MLCR,26/04/2022 13:54,D,738,CGK,150
17581,3883637,10880822,9MLNV,26/04/2022 16:13,D,73H,CGK,137
17582,3883638,10880607,9MLNV,26/04/2022 10:13,D,73H,CGK,148
17583,3883645,10880538,9MLNP,26/04/2022 18:43,D,73H,LHE,142
17584,3883698,10879979,9MAJG,26/04/2022 6:03,A,320,MAA,176
17585,3883923,10877944,9MMTV,25/04/2022 7:00,A,332,DEL,251
17586,3884897,10873535,9MMXE,21/04/2022 22:45,A,738,BKI,87
17587,3884898,10877929,9MMXO,24/04/2022 21:43,A,738,PER,73
17588,3884899,10864915,9MMTW,14/04/2022 17:19,A,332,BKK,116
17589,3884906,10846348,XYALB,31/03/2022 11:10,A,73H,RGN,5
17590,3885205,10874001,RPC9918,22/04/2022 13:23,D,321,MNL,154
17591,3885206,10875759,RPC9918,23/04/2022 13:14,D,321,MNL,122
17592,3885208,10878926,RPC9926,25/04/2022 13:21,D,321,MNL,175

In [13]:
#Assign all data of Active_Flights.csv file for active_flight_data
active_flight_data = pd.read_csv(r'C:\Users\Lenovo\Active_Flights.csv')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7636\3689624070.py:2: DtypeWarning: Columns (32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  active_flight_data = pd.read_csv(r'C:\Users\Lenovo\Active_Flights.csv')

In [14]:
#Remove space before & after inside the string of active_flight_data['standcode']
#Assign active_flight_data['BAY'] equal to active_flight_data['standcode']
#Assign active_flight equal to active_flight_data['modesequence'] that has 0 or 1 & 
#active_flight_data['remarkcodeflight'] that has no 'FCL' & 
#active_flight_data['tailno'] that not empty & active_flight_data['iataservicetypecode'] that has 'C' or 'G' or 'J'

active_flight_data['standcode'] = active_flight_data['standcode'].str.strip()
active_flight_data['BAY'] = active_flight_data['standcode'] 
active_flight = active_flight_data[(active_flight_data['modesequence'].isin([0,1])) & (~active_flight_data['remarkcodeflight'].isin(['FCL'])) & (~active_flight_data['tailno'].isin([''])) & (active_flight_data['iataservicetypecode'].isin(['C','G','J']))]

In [15]:
#Display data with setting of display
pd.options.display.max_rows = 20
pd.options.display.max_columns = 87
active_flight.head(20)

,afskey,flightno,leg,stad,sfskey,seasonid,officialflightdate,iataservicetypecode,flightmode,modesequence,codeshareflight,categorycode,tailno,aircrafttypecode,trafficright,aircraftversioncode,aircraftoperatorcode,pairafskey,emergencycode,mesgtype,irregularindicator,specialflightind,station1,std1,station2,sta2,std2,station3,sta3,std3,station4,sta4,std4,station5,sta5,std5,station6,sta6,endofflight,atmsetad,sitaetad,dispetad,atad,flightplanid,remarkcodeflight,flightdelaycode,checkintype,islandsalloc,schcounteropentime,schcounterclosetime,islandremark,standcode,standonchocktime,standoffchocktime,gateloungecode,prevgateloungecode,schgateopentime,schgateboardingtime,schgatefinalcalltime,schgateclosetime,remarkcodegate,useridatgate,actgateopentime,actgateboardingtime,actgatefinalcalltime,actgateclosetime,carouselcode,precarouselcode,remarkcodecarousel,useridatcarousel,carouseldelaycode,actcarouselopentime,actfirstbagtime,actlastbagtime,actcarouselclosetime,dispflag,messageid,deleteflag,memo,lastupdtime,lastupdsite,lastupduserid,lcctflightremark,mushowcheckinby,deskalloc,serviceclass,BAY
1,10493113.0,IX 0122,A,2021-05-28 18:45:00.000,NaN,W17,2021-05-28 11:00:00.000,C,0.0,0.0,NaN,I,VTAXJ,738,NaN,NaN,IX,NaN,NaN,NaN,N,N,DEL,2021-05-28 11:00:00.000,KUL,2021-05-28 18:45:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-05-28 19:24:00.000,2021-05-28 18:45:00.000,2021-05-28 19:33:00.000,2021-05-28 19:26:00.000,225336.0,CLB,OPE,NaN,NaN,NaN,NaN,NaN,B006L,2021-05-28 19:34:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,CLB,NaN,NaN,2021-05-28 19:26:00.000,NaN,2021-05-28 21:13:00.000,NaN,Y,NaN,NaN,NaN,2021-05-28 21:11:01.827,FIDS,FIDFCRCM2,NaN,NaN,NaN,NaN,B006L
2,10493114.0,IX 0625,D,2021-05-28 19:45:00.000,NaN,W17,2021-05-28 19:45:00.000,C,0.0,0.0,NaN,I,VTAXJ,738,NaN,NaN,IX,NaN,NaN,NaN,N,N,KUL,2021-05-28 19:45:00.000,TRZ,2021-05-29 04:00:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-05-28 21:10:00.000,2021-05-28 19:45:00.000,2021-05-28 19:45:00.000,2021-05-28 20:56:00.000,225363.0,FDP,NaN,NaN,NaN,2021-05-28 16:45:00.000,2021-05-28 19:00:00.000,NaN,B006L,NaN,2021-05-28 20:40:00.000,H006L,NaN,2021-05-28 18:45:00.000,2021-05-28 19:15:00.000,2021-05-28 19:25:00.000,2021-05-28 19:35:00.000,GCL,NaN,2021-05-28 18:23:00.000,2021-05-28 20:15:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-05-28 20:56:46.243,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,B006L
22,10493149.0,MH 2743,A,2021-05-28 14:05:00.000,NaN,W17,2021-05-28 12:00:00.000,J,3.0,1.0,MH 2743,D,9MMXA,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,BTU,2021-05-28 12:00:00.000,KUL,2021-05-28 14:05:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-05-28 14:38:00.000,2021-05-28 14:05:00.000,2021-05-28 14:05:00.000,2021-05-28 14:37:00.000,225278.0,CLB,NaN,NaN,NaN,NaN,NaN,NaN,B002R,2021-05-28 14:44:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L,NaN,CLB,NaN,NaN,2021-05-28 14:37:00.000,2021-05-28 14:57:00.000,2021-05-28 15:21:00.000,NaN,Y,NaN,NaN,NaN,2021-05-29 00:34:47.543,FIDS,GASSNDALC,NaN,NaN,NaN,NaN,B002R
26,10688876.0,MH 1152,D,2021-12-22 16:20:00.000,NaN,W17,2021-12-22 16:20:00.000,J,3.0,1.0,MH 1152,D,9MMLK,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 16:20:00.000,PEN,2021-12-22 17:15:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 16:20:00.000,2021-12-22 16:20:00.000,2021-12-22 16:20:00.000,2021-12-22 16:25:00.000,283508.0,FDP,NaN,NaN,NaN,2021-12-22 13:20:00.000,2021-12-22 15:20:00.000,NaN,B009,NaN,2021-12-22 16:16:00.000,B009,NaN,2021-12-22 15:20:00.000,2021-12-22 15:50:00.000,2021-12-22 16:05:00.000,2021-12-22 16:10:00.000,GCL,NaN,2021-12-22 15:30:00.000,2021-12-22 15:53:00.000,2021-12-22 16:00:00.000,2021-12-22 16:10:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-24 09:58:52.970,FIDS,GASSNDALC,NaN,NaN,NaN,NaN,B009
35,10688885.0,MH 1208,D,2021-12-22 13:20:00.000,NaN,W17,2021-12-22 13:20:00.000,J,3.0,1.0,MH 1208,D,9MMXT,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 13:20:00.000,AOR,2021-12-22 14:25:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 13:20:00.000,2021-12-22 13:20:00.000,2021-12-22 13:20:00.000,2021-12-22 13:23:00.000,283442.0,FDP,NaN,NaN,NaN,2021-12-22 10:20:00.000,2021-12-22 12:20:00.000,NaN,B011,NaN,2021-12-22 13:15:00.000,B011,NaN,2021-12-22 12:20:00.000,2021-12-22 12:50:00.000,2021-12-22 13:05:00.000,2021-12-22 13:10:00.000,GCL,NaN,2021-12-22 12:15:00.000,2021-12-22 12:55:00.000,2021-12-22 13:02:00.000,2021-12-22 13:04:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 13:24:07.897,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,B011
43,10688893.0,MH 1336,D,2021-12-22 15:30:00.000,NaN,W17,2021-12-22 15:30:00.000,J,3.0,1.0,MH 1336,D,9MMLJ,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 15:30:00.000,TGG,2021-12-22 16:25:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 16:00:00.000,2021-12-22 15:30:00.000,2021-12-22 15:30:00.000,2021-12-22 15:41:00.000,283493.0,FDP,NaN,NaN,NaN,2021-12-22 12:30:00.000,2021-12-22 14:30:00.000,NaN,B004R,NaN,2021-12-22 15:30:00.000,B004R,NaN,2021-12-22 14:30:00.000,2021-12-22 15:00:00.000,2021-12-22 15:15:00.000,2021-12-22 15:20:00.000,GCL,NaN,2021-12-22 14:30:00.000,2021-12-22 15:03:00.000,2021-12-22 15:08:00.000,2021-12-22 15:16:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 15:41:26.293,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,B004R
52,10688902.0,MH 1384,D,2021-12-23 07:55:00.000,NaN,W17,2021-12-23 07:55:00.000,J,3.0,1.0,MH 1384,D,9MFFF,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-23 07:55:00.000,KBR,2021-12-23 08:50:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-23 07:55:00.000,2021-12-23 07:55:00.000,2021-12-23 07:55:00.000,2021-12-23 08:03:00.000,283786.0,FDP,NaN,NaN,NaN,2021-12-23 04:55:00.000,2021-12-23 06:55:00.000,DCL,B002R,NaN,2021-12-23 07:50:00.000,B002R,NaN,2021-12-23 06:55:00.000,2021-12-23 07:25:00.000,2021-12-23 07:40:00.000,2021-12-23 07:45:00.000,GCL,NaN,2021-12-23 06:55:00.000,2021-12-23 07:23:00.000,2021-12-23 07:30:00.000,2021-12-23 07:44:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-23 08:03:18.633,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,B002R
61,10688911.0,MH 1432,D,2021-12-22 09:00:00.000,NaN,W17,2021-12-22 09:00:00.000,J,3.0,1.0,MH 1432,D,9MMXT,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 09:00:00.000,LGK,2021-12-22 10:10:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 09:00:00.000,2021-12-22 09:00:00.000,2021-12-22 09:00:00.000,2021-12-22 09:10:00.000,283317.0,FDP,NaN,NaN,NaN,2021-12-22 06:00:00.000,2021-12-22 08:00:00.000,DCL,B004L,NaN,2021-12-22 09:00:00.000,B004L,NaN,2021-12-22 08:00:00.000,2021-12-22 08:30:00.000,2021-12-22 08:45:00.000,2021-12-22 08:50:00.000,GCL,NaN,2021-12-22 08:19:00.000,NaN,2021-12-22 08:47:00.000,2021-12-22 08:51:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 09:10:45.400,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,B004L
70,10688920.0,MH 1436,D,2021-12-22 12:30:00.000,NaN,W17,2021-12-22 12:30:00.000,J,3.0,1.0,MH 1436,D,9MMXY,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 12:30:00.000,LGK,2021-12-22 13:35:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 12:30:00.000,2021-12-22 12:30:00.000,2021-12-22 12:30:00.000,2021-12-22 12:39:00.000,283395.0,FDP,NaN,NaN,NaN,2021-12-22 09:30:00.000,2021-12-22 11:30:00.000,NaN,A009,NaN,2021-12-22 12:28:00.000,A009,NaN,2021-12-22 11:30:00.000,2021-12-22 12:00:00.000,2021-12-22 12:15:00.000,2021-12-22 12:20:00.000,GCL,NaN,2021-12-22 11:26:00.000,2021-12-22 11:56:00.000,2021-12-22 12:03:00.000,2021-12-22 12:10:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 12:39:26.153,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,A009
79,10688929.0,MH 1438,D,2021-12-22 10:45:00.000,NaN,W17,2021-12-22 10:45:00.000,J,3.0,1.0,MH 1438,D,9MMLJ,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 10:45:00.000,LGK,2021-12-22 11:55:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 10:45:00.000,2021-12-22 10:45:00.000,2021-12-22 10:45:00.000,2021-12-22 11:03:00.000,283351.0,FDP,NaN,NaN,NaN,2021-12-22 07:45:00.000,2021-12-22 09:45:00.000,DOP,A008R,NaN,2021-12-22 10:48:00.000,A008R,NaN,2021-12-22 09:45:00.000,2021-12-22 10:15:00.000,2021-12-22 10:30:00.000,2021-12-22 10:35:00.000,GCL,NaN,2021-12-22 09:49:00.000,2021-12-22 10:21:00.000,2021-12-22 10:25:00.000,2021-12-22 10:43:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-23 01:55:25.103,FIDS,GASSNDALC,NaN,NaN,NaN,NaN,A008R
88,10688938.0,MH 1450,D,2021-12-22 13:45:00.000,NaN,W17,2021-12-22 13:45:00.000,J,3.0,1.0,MH 1450,D,9MMXH,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 13:45:00.000,LGK,2021-12-22 14:50:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 13:45:00.000,2021-12-22 13:45:00.000,2021-12-22 13:45:00.000,2021-12-22 13:57:00.000,283424.0,FDP,NaN,NaN,NaN,2021-12-22 10:45:00.000,2021-12-22 12:45:00.000,NaN,A004L,NaN,2021-12-22 13:43:00.000,A004L,NaN,2021-12-22 12:45:00.000,2021-12-22 13:15:00.000,2021-12-22 13:30:00.000,2021-12-22 13:35:00.000,GCL,NaN,2021-12-22 12:46:00.000,2021-12-22 13:23:00.000,2021-12-22 13:29:00.000,2021-12-22 13:36:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 13:57:22.870,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,A004L
97,10688947.0,MH 2608,D,2021-12-22 08:40:00.000,NaN,W17,2021-12-22 08:40:00.000,J,3.0,1.0,MH 2608,D,9MMXR,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 08:40:00.000,LBU,2021-12-22 11:05:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 08:40:00.000,2021-12-22 08:40:00.000,2021-12-22 08:40:00.000,2021-12-22 08:57:00.000,283305.0,FDP,NaN,NaN,NaN,2021-12-22 05:40:00.000,2021-12-22 07:40:00.000,DCL,B005,NaN,2021-12-22 08:41:00.000,B005,NaN,2021-12-22 07:40:00.000,2021-12-22 08:10:00.000,2021-12-22 08:25:00.000,2021-12-22 08:30:00.000,GCL,NaN,2021-12-22 07:34:00.000,2021-12-22 08:18:00.000,2021-12-22 08:28:00.000,2021-12-22 08:32:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 08:57:48.350,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,B005
104,10688954.0,MH 2614,D,2021-12-22 12:55:00.000,NaN,W17,2021-12-22 12:55:00.000,J,3.0,1.0,MH 2614,D,9MMSG,73H,NaN,NaN,MH,NaN,NaN,NaN,N,V,KUL,2021-12-22 12:55:00.000,BKI,2021-12-22 15:30:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 13:34:00.000,2021-12-22 12:55:00.000,2021-12-22 12:55:00.000,2021-12-22 13:16:00.000,283404.0,FDP,NaN,NaN,NaN,2021-12-22 09:55:00.000,2021-12-22 11:55:00.000,NaN,A008L,NaN,2021-12-22 13:04:00.000,A008L,NaN,2021-12-22 11:55:00.000,2021-12-22 12:25:00.000,2021-12-22 12:40:00.000,2021-12-22 12:45:00.000,GCL,NaN,2021-12-22 11:44:00.000,2021-12-22 12:29:00.000,2021-12-22 12:34:00.000,2021-12-22 12:51:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 13:17:01.690,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,A008L
111,10688961.0,MH 2628,D,2021-12-22 20:40:00.000,NaN,W17,2021-12-22 20:40:00.000,J,3.0,1.0,MH 2628,D,9MMXN,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 20:40:00.000,BKI,2021-12-22 23:20:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 20:40:00.000,2021-12-22 20:40:00.000,2021-12-22 20:40:00.000,2021-12-22 20:51:00.000,283626.0,FDP,NaN,NaN,NaN,2021-12-22 17:40:00.000,2021-12-22 19:40:00.000,NaN,B005,NaN,2021-12-22 20:36:00.000,B005,NaN,2021-12-22 19:40:00.000,2021-12-22 20:10:00.000,2021-12-22 20:25:00.000,2021-12-22 20:30:00.000,GCL,NaN,2021-12-22 19:38:00.000,2021-12-22 20:10:00.000,2021-12-22 20:14:00.000,2021-12-22 20:25:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 20:51:37.253,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,B005
119,10688969.0,MH 2640,D,2021-12-22 15:45:00.000,NaN,W17,2021-12-22 15:45:00.000,J,3.0,1.0,MH 2640,D,9MMXR,73H,NaN,NaN,MH,NaN,NaN,NaN,N,V,KUL,2021-12-22 15:45:00.000,BKI,2021-12-22 18:20:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 15:45:00.000,2021-12-22 15:45:00.000,2021-12-22 15:45:00.000,2021-12-22 15:59:00.000,283489.0,FDP,NaN,NaN,NaN,2021-12-22 12:45:00.000,2021-12-22 14:45:00.000,NaN,A004R,NaN,2021-12-22 15:47:00.000,A004R,NaN,2021-12-22 14:45:00.000,2021-12-22 15:15:00.000,2021-12-22 15:30:00.000,2021-12-22 15:35:00.000,GCL,NaN,2021-12-22 14:38:00.000,2021-12-22 15:22:00.000,2021-12-22 15:31:00.000,2021-12-22 15:36:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 15:59:42.123,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,A004R
124,10493155.0,MH 2711,A,2021-05-28 20:25:00.000,NaN,W17,2021-05-28 15:55:00.000,J,3.0,1.0,MH 2711,D,9MMXH,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,SDK,2021-05-28 15:55:00.000,BKI,2021-05-28 16:35:00.000,2021-05-28 17:35:00.000,KUL,2021-05-28 20:25:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-05-28 19:51:00.000,2021-05-28 20:25:00.000,2021-05-28 20:25:00.000,2021-05-28 19:50:00.000,225356.0,CLB,NaN,NaN,NaN,1900-01-01 00:00:00.000,1900-01-01 00:00:00.000,NaN,B004R,2021-05-28 20:00:00.000,NaN,NaN,NaN,1900-01-01 00:00:00.000,1900-01-01 00:00:00.000,1900-01-01 00:00:00.000,1900-01-01 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,CLB,NaN,NaN,2021-05-28 19:50:00.000,2021-05-28 20:13:00.000,2021-05-28 20:18:00.000,NaN,Y,NaN,NaN,NaN,2021-05-29 00:34:47.560,FIDS,GASSNDALC,NaN,NaN,NaN,NaN,B004R
137,10688975.0,MH 2660,D,2021-12-23 07:30:00.000,NaN,W17,2021-12-23 07:30:00.000,J,3.0,1.0,MH 2660,D,9MMSF,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-23 07:30:00.000,TWU,2021-12-23 10:20:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-23 07:30:00.000,2021-12-23 07:30:00.000,2021-12-23 07:30:00.000,2021-12-23 07:38:00.000,283784.0,FDP,NaN,NaN,NaN,2021-12-23 04:30:00.000,2021-12-23 06:30:00.000,NaN,B009,NaN,2021-12-23 07:27:00.000,B009,NaN,2021-12-23 06:30:00.000,2021-12-23 07:00:00.000,2021-12-23 07:15:00.000,2021-12-23 07:20:00.000,GFC,NaN,2021-12-23 06:33:00.000,NaN,2021-12-23 07:18:00.000,2021-12-23 07:18:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-24 09:58:52.927,FIDS,GASSNDALC,NaN,NaN,NaN,NaN,B009
143,10688981.0,MH 2710,D,2021-12-22 10:20:00.000,NaN,W17,2021-12-22 10:20:00.000,J,3.0,1.0,MH 2710,D,9MMLR,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 10:20:00.000,SDK,2021-12-22 13:05:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 10:20:00.000,2021-12-22 10:20:00.000,2021-12-22 10:20:00.000,2021-12-22 10:38:00.000,283348.0,FDP,NaN,NaN,NaN,2021-12-22 07:20:00.000,2021-12-22 09:20:00.000,NaN,A004R,NaN,2021-12-22 10:17:00.000,A004R,NaN,2021-12-22 09:20:00.000,2021-12-22 09:50:00.000,2021-12-22 10:05:00.000,2021-12-22 10:10:00.000,GCL,NaN,2021-12-22 09:28:00.000,2021-12-22 09:49:00.000,2021-12-22 09:57:00.000,2021-12-22 10:02:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 10:38:20.500,FIDS,FIDTMATMS,NaN,NaN,NaN,NaN,A004R
151,10688989.0,MH 2742,D,2021-12-22 08:10:00.000,NaN,W17,2021-12-22 08:10:00.000,J,0.0,0.0,NaN,D,9MMXB,73H,NaN,NaN,MH,NaN,NaN,NaN,N,N,KUL,2021-12-22 08:10:00.000,BTU,2021-12-22 10:30:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 08:10:00.000,2021-12-22 08:10:00.000,2021-12-22 08:10:00.000,2021-12-22 08:27:00.000,283290.0,FDP,NaN,NaN,NaN,2021-12-22 05:10:00.000,2021-12-22 07:10:00.000,NaN,B002R,NaN,2021-12-22 08:07:00.000,B002R,NaN,2021-12-22 07:10:00.000,2021-12-22 07:40:00.000,2021-12-22 07:55:00.000,2021-12-22 08:00:00.000,GCL,NaN,2021-12-22 07:09:00.000,2021-12-22 07:48:00.000,2021-12-22 07:53:00.000,2021-12-22 07:58:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-24 09:58:53.127,FIDS,GASSNDALC,NaN,NaN,NaN,NaN,B002R
153,10688991.0,3K 0686,D,2021-12-22 14:25:00.000,NaN,W17,2021-12-22 14:25:00.000,J,0.0,0.0,NaN,I,9VJSM,320,NaN,NaN,3K,NaN,NaN,NaN,N,N,KUL,2021-12-22 14:25:00.000,SIN,2021-12-22 15:25:00.000,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,,NaN,NaN,2021-12-22 14:25:00.000,2021-12-22 14:25:00.000,2021-12-22 14:25:00.000,2021-12-22 14:37:00.000,283449.0,FDP,NaN,NaN,NaN,2021-12-22 12:25:00.000,2021-12-22 13:40:00.000,NaN,K001,NaN,2021-12-22 14:17:00.000,L001,NaN,2021-12-22 13:25:00.000,2021-12-22 13:55:00.000,2021-12-22 14:05:00.000,2021-12-22 14:15:00.000,GCL,NaN,2021-12-22 13:27:00.000,2021-12-22 13:42:00.000,2021-12-22 13:51:00.000,2021-12-22 14:16:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,2021-12-22 15:25:57.683,FIDS,FIDADMRAD,NaN,NaN,NaN,NaN,K001

In [16]:
#Assign selected_column_1 equal to columns of active_flight [['afskey','tailno','aircrafttypecode','leg','station1','station2','station3','station4','station5','station6','iataservicetypecode','stad','atad','standcode','BAY','categorycode']]
#Copy selected_columns_1 to today_active_flight
#Rename the column of today_active_flight 'afskey' to 'fl_afskey'
selected_columns_1 = active_flight[['afskey','tailno','aircrafttypecode','leg','station1','station2','station3','station4','station5','station6','iataservicetypecode','stad','atad','standcode','BAY','categorycode']]
today_active_flight= selected_columns_1.copy().reset_index(drop=True)
today_active_flight = today_active_flight.rename(columns={'afskey':'fl_afskey'})

In [17]:
#Display data
selected_columns_1

,afskey,tailno,aircrafttypecode,leg,station1,station2,station3,station4,station5,station6,iataservicetypecode,stad,atad,standcode,BAY,categorycode
1,10493113.0,VTAXJ,738,A,DEL,KUL,,,,,C,2021-05-28 18:45:00.000,2021-05-28 19:26:00.000,B006L,B006L,I
2,10493114.0,VTAXJ,738,D,KUL,TRZ,,,,,C,2021-05-28 19:45:00.000,2021-05-28 20:56:00.000,B006L,B006L,I
22,10493149.0,9MMXA,73H,A,BTU,KUL,,,,,J,2021-05-28 14:05:00.000,2021-05-28 14:37:00.000,B002R,B002R,D
26,10688876.0,9MMLK,73H,D,KUL,PEN,,,,,J,2021-12-22 16:20:00.000,2021-12-22 16:25:00.000,B009,B009,D
35,10688885.0,9MMXT,73H,D,KUL,AOR,,,,,J,2021-12-22 13:20:00.000,2021-12-22 13:23:00.000,B011,B011,D
43,10688893.0,9MMLJ,73H,D,KUL,TGG,,,,,J,2021-12-22 15:30:00.000,2021-12-22 15:41:00.000,B004R,B004R,D
52,10688902.0,9MFFF,73H,D,KUL,KBR,,,,,J,2021-12-23 07:55:00.000,2021-12-23 08:03:00.000,B002R,B002R,D
61,10688911.0,9MMXT,73H,D,KUL,LGK,,,,,J,2021-12-22 09:00:00.000,2021-12-22 09:10:00.000,B004L,B004L,D
70,10688920.0,9MMXY,73H,D,KUL,LGK,,,,,J,2021-12-22 12:30:00.000,2021-12-22 12:39:00.000,A009,A009,D
79,10688929.0,9MMLJ,73H,D,KUL,LGK,,,,,J,2021-12-22 10:45:00.000,2021-12-22 11:03:00.000,A008R,A008R,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339410,10688836.0,PHBHC,789,D,KUL,SIN,AMS,,,,J,2021-12-22 21:00:00.000,2021-12-22 21:17:00.000,C035,C035,I
339414,10688842.0,VTAXR,738,D,KUL,BLR,COK,,,,C,2021-12-23 06:00:00.000,2021-12-23 06:44:00.000,C033,C033,I
339415,10688843.0,VTAXR,738,D,KUL,VGA,HYD,,,,C,2021-12-22 16:45:00.000,2021-12-22 17:24:00.000,C031,C031,I
339416,10688844.0,HZARH,789,D,KUL,MLE,JED,,,,J,2021-12-22 21:30:00.000,2021-12-22 21:42:00.000,C032,C032,I
339417,10688845.0,4RAND,32Q,D,KUL,CMB,,,,,J,2021-12-22 21:30:00.000,2021-12-22 21:56:00.000,C006,C006,I
339418,10688847.0,A6BLX,789,D,KUL,AUH,,,,,J,2021-12-23 02:15:00.000,2021-12-23 02:21:00.000,C001,C001,I
339425,10688854.0,9VSMG,359,D,KUL,SIN,,,,,J,2021-12-22 10:25:00.000,2021-12-22 10:40:00.000,A006,A006,I
339427,10688856.0,9VOJB,789,D,KUL,SIN,,,,,J,2021-12-22 19:30:00.000,2021-12-22 20:12:00.000,P006,P006,I
339428,10688857.0,9MAJN,32A,D,KUL,BKI,,,,,J,2021-12-23 06:45:00.000,2021-12-23 06:52:00.000,J015,J015,D
339438,10688867.0,9MMLT,73H,D,KUL,JHB,,,,,J,2021-12-22 09:30:00.000,2021-12-22 09:45:00.000,A005,A005,D

In [18]:
#Display data
today_active_flight

,fl_afskey,tailno,aircrafttypecode,leg,station1,station2,station3,station4,station5,station6,iataservicetypecode,stad,atad,standcode,BAY,categorycode
0,10493113.0,VTAXJ,738,A,DEL,KUL,,,,,C,2021-05-28 18:45:00.000,2021-05-28 19:26:00.000,B006L,B006L,I
1,10493114.0,VTAXJ,738,D,KUL,TRZ,,,,,C,2021-05-28 19:45:00.000,2021-05-28 20:56:00.000,B006L,B006L,I
2,10493149.0,9MMXA,73H,A,BTU,KUL,,,,,J,2021-05-28 14:05:00.000,2021-05-28 14:37:00.000,B002R,B002R,D
3,10688876.0,9MMLK,73H,D,KUL,PEN,,,,,J,2021-12-22 16:20:00.000,2021-12-22 16:25:00.000,B009,B009,D
4,10688885.0,9MMXT,73H,D,KUL,AOR,,,,,J,2021-12-22 13:20:00.000,2021-12-22 13:23:00.000,B011,B011,D
5,10688893.0,9MMLJ,73H,D,KUL,TGG,,,,,J,2021-12-22 15:30:00.000,2021-12-22 15:41:00.000,B004R,B004R,D
6,10688902.0,9MFFF,73H,D,KUL,KBR,,,,,J,2021-12-23 07:55:00.000,2021-12-23 08:03:00.000,B002R,B002R,D
7,10688911.0,9MMXT,73H,D,KUL,LGK,,,,,J,2021-12-22 09:00:00.000,2021-12-22 09:10:00.000,B004L,B004L,D
8,10688920.0,9MMXY,73H,D,KUL,LGK,,,,,J,2021-12-22 12:30:00.000,2021-12-22 12:39:00.000,A009,A009,D
9,10688929.0,9MMLJ,73H,D,KUL,LGK,,,,,J,2021-12-22 10:45:00.000,2021-12-22 11:03:00.000,A008R,A008R,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72179,10688836.0,PHBHC,789,D,KUL,SIN,AMS,,,,J,2021-12-22 21:00:00.000,2021-12-22 21:17:00.000,C035,C035,I
72180,10688842.0,VTAXR,738,D,KUL,BLR,COK,,,,C,2021-12-23 06:00:00.000,2021-12-23 06:44:00.000,C033,C033,I
72181,10688843.0,VTAXR,738,D,KUL,VGA,HYD,,,,C,2021-12-22 16:45:00.000,2021-12-22 17:24:00.000,C031,C031,I
72182,10688844.0,HZARH,789,D,KUL,MLE,JED,,,,J,2021-12-22 21:30:00.000,2021-12-22 21:42:00.000,C032,C032,I
72183,10688845.0,4RAND,32Q,D,KUL,CMB,,,,,J,2021-12-22 21:30:00.000,2021-12-22 21:56:00.000,C006,C006,I
72184,10688847.0,A6BLX,789,D,KUL,AUH,,,,,J,2021-12-23 02:15:00.000,2021-12-23 02:21:00.000,C001,C001,I
72185,10688854.0,9VSMG,359,D,KUL,SIN,,,,,J,2021-12-22 10:25:00.000,2021-12-22 10:40:00.000,A006,A006,I
72186,10688856.0,9VOJB,789,D,KUL,SIN,,,,,J,2021-12-22 19:30:00.000,2021-12-22 20:12:00.000,P006,P006,I
72187,10688857.0,9MAJN,32A,D,KUL,BKI,,,,,J,2021-12-23 06:45:00.000,2021-12-23 06:52:00.000,J015,J015,D
72188,10688867.0,9MMLT,73H,D,KUL,JHB,,,,,J,2021-12-22 09:30:00.000,2021-12-22 09:45:00.000,A005,A005,D

In [19]:
#Assign all data of Bay_Stand.csv file into Bay_standcode
Bay_standcode = pd.read_csv(r'C:\Users\Lenovo\Bay_Stand.csv')

In [20]:
#Remove space before & after inside the string of Bay_standcode['BAY']
#Assign selected_column_2 equal to columns of Bay_standcode [['BAY','Oper_Type','TERMINAL']]
#Copy selected_columns_2 to passenger_flight ?Reset Index
Bay_standcode['BAY'] = Bay_standcode['BAY'].str.strip()
selected_columns_2 = Bay_standcode[['BAY','Oper_Type','TERMINAL']]
passenger_flight = selected_columns_2.copy()

In [21]:
#Display data
passenger_flight

       BAY     Oper_Type TERMINAL
0     A002     Passenger     KLIA
1    A002L     Passenger     KLIA
2    A002R     Passenger     KLIA
3     A003     Passenger     KLIA
4     A004     Passenger     KLIA
5    A004L     Passenger     KLIA
6    A004R     Passenger     KLIA
7     A005     Passenger     KLIA
8     A006     Passenger     KLIA
9    A006L     Passenger     KLIA
..     ...           ...      ...
424   L014     Passenger    klia2
425   L016     Passenger    klia2
426   L018     Passenger    klia2
427   L020     Passenger    klia2
428   L022     Passenger    klia2
429    TM1  Not Specific     KLIA
430    TM2  Not Specific     KLIA
431    TM4  Not Specific     KLIA
432    TM5  Not Specific     KLIA
433    TM6  Not Specific     KLIA

[434 rows x 3 columns]

In [22]:
#Merge by left join of today_active_flight as a & passenger_flight as b where a.BAY=b.BAY
active_passenger_flight = pd.merge(today_active_flight,passenger_flight,how='left',on=['BAY'])

In [23]:
#Display data
active_passenger_flight

,fl_afskey,tailno,aircrafttypecode,leg,station1,station2,station3,station4,station5,station6,iataservicetypecode,stad,atad,standcode,BAY,categorycode,Oper_Type,TERMINAL
0,10493113.0,VTAXJ,738,A,DEL,KUL,,,,,C,2021-05-28 18:45:00.000,2021-05-28 19:26:00.000,B006L,B006L,I,Passenger,KLIA
1,10493114.0,VTAXJ,738,D,KUL,TRZ,,,,,C,2021-05-28 19:45:00.000,2021-05-28 20:56:00.000,B006L,B006L,I,Passenger,KLIA
2,10493149.0,9MMXA,73H,A,BTU,KUL,,,,,J,2021-05-28 14:05:00.000,2021-05-28 14:37:00.000,B002R,B002R,D,Passenger,KLIA
3,10688876.0,9MMLK,73H,D,KUL,PEN,,,,,J,2021-12-22 16:20:00.000,2021-12-22 16:25:00.000,B009,B009,D,Passenger,KLIA
4,10688885.0,9MMXT,73H,D,KUL,AOR,,,,,J,2021-12-22 13:20:00.000,2021-12-22 13:23:00.000,B011,B011,D,Passenger,KLIA
5,10688893.0,9MMLJ,73H,D,KUL,TGG,,,,,J,2021-12-22 15:30:00.000,2021-12-22 15:41:00.000,B004R,B004R,D,Passenger,KLIA
6,10688902.0,9MFFF,73H,D,KUL,KBR,,,,,J,2021-12-23 07:55:00.000,2021-12-23 08:03:00.000,B002R,B002R,D,Passenger,KLIA
7,10688911.0,9MMXT,73H,D,KUL,LGK,,,,,J,2021-12-22 09:00:00.000,2021-12-22 09:10:00.000,B004L,B004L,D,Passenger,KLIA
8,10688920.0,9MMXY,73H,D,KUL,LGK,,,,,J,2021-12-22 12:30:00.000,2021-12-22 12:39:00.000,A009,A009,D,Passenger,KLIA
9,10688929.0,9MMLJ,73H,D,KUL,LGK,,,,,J,2021-12-22 10:45:00.000,2021-12-22 11:03:00.000,A008R,A008R,D,Passenger,KLIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72179,10688836.0,PHBHC,789,D,KUL,SIN,AMS,,,,J,2021-12-22 21:00:00.000,2021-12-22 21:17:00.000,C035,C035,I,Passenger,KLIA
72180,10688842.0,VTAXR,738,D,KUL,BLR,COK,,,,C,2021-12-23 06:00:00.000,2021-12-23 06:44:00.000,C033,C033,I,Passenger,KLIA
72181,10688843.0,VTAXR,738,D,KUL,VGA,HYD,,,,C,2021-12-22 16:45:00.000,2021-12-22 17:24:00.000,C031,C031,I,Passenger,KLIA
72182,10688844.0,HZARH,789,D,KUL,MLE,JED,,,,J,2021-12-22 21:30:00.000,2021-12-22 21:42:00.000,C032,C032,I,Passenger,KLIA
72183,10688845.0,4RAND,32Q,D,KUL,CMB,,,,,J,2021-12-22 21:30:00.000,2021-12-22 21:56:00.000,C006,C006,I,Passenger,KLIA
72184,10688847.0,A6BLX,789,D,KUL,AUH,,,,,J,2021-12-23 02:15:00.000,2021-12-23 02:21:00.000,C001,C001,I,Passenger,KLIA
72185,10688854.0,9VSMG,359,D,KUL,SIN,,,,,J,2021-12-22 10:25:00.000,2021-12-22 10:40:00.000,A006,A006,I,Passenger,KLIA
72186,10688856.0,9VOJB,789,D,KUL,SIN,,,,,J,2021-12-22 19:30:00.000,2021-12-22 20:12:00.000,P006,P006,I,Passenger,klia2
72187,10688857.0,9MAJN,32A,D,KUL,BKI,,,,,J,2021-12-23 06:45:00.000,2021-12-23 06:52:00.000,J015,J015,D,Passenger,klia2
72188,10688867.0,9MMLT,73H,D,KUL,JHB,,,,,J,2021-12-22 09:30:00.000,2021-12-22 09:45:00.000,A005,A005,D,Passenger,KLIA

In [24]:
#merge by left join of active_passenger_flight as a & flight_details1 as b where a.fl_afskey=b.fl_afskey
#Display data
merge_data = pd.merge(active_passenger_flight,flight_details1,how='left',on=['fl_afskey'])
merge_data

,fl_afskey,tailno,aircrafttypecode,leg,station1,station2,station3,station4,station5,station6,iataservicetypecode,stad,atad,standcode,BAY,categorycode,Oper_Type,TERMINAL,fl_internal_key,fl_tail_registration,fl_actual_time,fl_leg,fl_aircraft_type,fl_routing,fl_type_count
0,10493113.0,VTAXJ,738,A,DEL,KUL,,,,,C,2021-05-28 18:45:00.000,2021-05-28 19:26:00.000,B006L,B006L,I,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10493114.0,VTAXJ,738,D,KUL,TRZ,,,,,C,2021-05-28 19:45:00.000,2021-05-28 20:56:00.000,B006L,B006L,I,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10493149.0,9MMXA,73H,A,BTU,KUL,,,,,J,2021-05-28 14:05:00.000,2021-05-28 14:37:00.000,B002R,B002R,D,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10688876.0,9MMLK,73H,D,KUL,PEN,,,,,J,2021-12-22 16:20:00.000,2021-12-22 16:25:00.000,B009,B009,D,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10688885.0,9MMXT,73H,D,KUL,AOR,,,,,J,2021-12-22 13:20:00.000,2021-12-22 13:23:00.000,B011,B011,D,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10688893.0,9MMLJ,73H,D,KUL,TGG,,,,,J,2021-12-22 15:30:00.000,2021-12-22 15:41:00.000,B004R,B004R,D,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10688902.0,9MFFF,73H,D,KUL,KBR,,,,,J,2021-12-23 07:55:00.000,2021-12-23 08:03:00.000,B002R,B002R,D,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10688911.0,9MMXT,73H,D,KUL,LGK,,,,,J,2021-12-22 09:00:00.000,2021-12-22 09:10:00.000,B004L,B004L,D,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10688920.0,9MMXY,73H,D,KUL,LGK,,,,,J,2021-12-22 12:30:00.000,2021-12-22 12:39:00.000,A009,A009,D,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10688929.0,9MMLJ,73H,D,KUL,LGK,,,,,J,2021-12-22 10:45:00.000,2021-12-22 11:03:00.000,A008R,A008R,D,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72179,10688836.0,PHBHC,789,D,KUL,SIN,AMS,,,,J,2021-12-22 21:00:00.000,2021-12-22 21:17:00.000,C035,C035,I,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72180,10688842.0,VTAXR,738,D,KUL,BLR,COK,,,,C,2021-12-23 06:00:00.000,2021-12-23 06:44:00.000,C033,C033,I,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72181,10688843.0,VTAXR,738,D,KUL,VGA,HYD,,,,C,2021-12-22 16:45:00.000,2021-12-22 17:24:00.000,C031,C031,I,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72182,10688844.0,HZARH,789,D,KUL,MLE,JED,,,,J,2021-12-22 21:30:00.000,2021-12-22 21:42:00.000,C032,C032,I,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72183,10688845.0,4RAND,32Q,D,KUL,CMB,,,,,J,2021-12-22 21:30:00.000,2021-12-22 21:56:00.000,C006,C006,I,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72184,10688847.0,A6BLX,789,D,KUL,AUH,,,,,J,2021-12-23 02:15:00.000,2021-12-23 02:21:00.000,C001,C001,I,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72185,10688854.0,9VSMG,359,D,KUL,SIN,,,,,J,2021-12-22 10:25:00.000,2021-12-22 10:40:00.000,A006,A006,I,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72186,10688856.0,9VOJB,789,D,KUL,SIN,,,,,J,2021-12-22 19:30:00.000,2021-12-22 20:12:00.000,P006,P006,I,Passenger,klia2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72187,10688857.0,9MAJN,32A,D,KUL,BKI,,,,,J,2021-12-23 06:45:00.000,2021-12-23 06:52:00.000,J015,J015,D,Passenger,klia2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72188,10688867.0,9MMLT,73H,D,KUL,JHB,,,,,J,2021-12-22 09:30:00.000,2021-12-22 09:45:00.000,A005,A005,D,Passenger,KLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#Remove NAN from column of merge_data['fl_internal_key']
#print the details of rows & columns for merge_data
merge_data = merge_data.dropna(subset=['fl_internal_key'])
print(merge_data.shape)

(17114, 25)

In [26]:
#Display data
merge_data

,fl_afskey,tailno,aircrafttypecode,leg,station1,station2,station3,station4,station5,station6,iataservicetypecode,stad,atad,standcode,BAY,categorycode,Oper_Type,TERMINAL,fl_internal_key,fl_tail_registration,fl_actual_time,fl_leg,fl_aircraft_type,fl_routing,fl_type_count
4302,10869370.0,9MMXI,73H,A,KCH,KUL,,,,,J,2022-04-17 16:40:00.000,2022-04-17 16:26:00.000,A006R,A006R,D,Passenger,KLIA,3879624.0,9MMXI,17/04/2022 16:26,A,738,KCH,48.0
4304,10869372.0,PKAXY,320,A,SUB,KUL,,,,,J,2022-04-18 09:10:00.000,2022-04-18 08:48:00.000,P001,P001,I,Passenger,klia2,3879993.0,PKAXY,18/04/2022 8:48,A,320,SUB,70.0
4305,10869377.0,9MLCR,73H,D,KUL,CGK,,,,,J,2022-04-17 13:50:00.000,2022-04-17 14:11:00.000,A004L,A004L,I,Passenger,KLIA,3880728.0,9MLCR,17/04/2022 14:11,D,738,CGK,159.0
4306,10869378.0,9MLCR,73H,A,CGK,KUL,,,,,J,2022-04-17 18:50:00.000,2022-04-17 18:50:00.000,A004L,A004L,I,Passenger,KLIA,3879582.0,9MLCR,17/04/2022 18:50,A,738,CGK,91.0
4373,10869849.0,4RANC,32Q,A,CMB,KUL,,,,,J,2022-04-17 23:35:00.000,2022-04-17 23:29:00.000,C011,C011,I,Passenger,KLIA,3879723.0,4RANC,17/04/2022 23:29,A,32Q,CMB,109.0
4374,10869850.0,S2AEQ,73H,D,KUL,DAC,,,,,J,2022-04-19 06:10:00.000,2022-04-19 07:00:00.000,C011,C011,I,Passenger,KLIA,3882456.0,S2AEQ,19/04/2022 7:00,D,73H,DAC,132.0
4375,10869853.0,9VJSQ,320,D,KUL,SIN,,,,,J,2022-04-18 08:50:00.000,2022-04-18 08:45:00.000,P004R,P004R,I,Passenger,klia2,3882026.0,9VJSQ,18/04/2022 8:45,D,320,SIN,150.0
4376,10869857.0,9VJSQ,320,D,KUL,SIN,,,,,J,2022-04-18 14:00:00.000,2022-04-18 14:12:00.000,P001,P001,I,Passenger,klia2,3881561.0,9VJSQ,18/04/2022 14:12,D,320,SIN,161.0
4377,10869863.0,9MVAA,32Q,D,KUL,SIN,,,,,J,2022-04-18 10:05:00.000,2022-04-18 10:07:00.000,P003,P003,I,Passenger,klia2,3880610.0,9MVAA,18/04/2022 10:07,D,32Q,SIN,140.0
4378,10869864.0,9MRAC,32A,D,KUL,SBW,,,,,J,2022-04-18 12:10:00.000,2022-04-18 12:26:00.000,J005,J005,D,Passenger,klia2,3880642.0,9MRAC,18/04/2022 12:26,D,32N,SBW,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57626,10869327.0,9MRCH,320,A,LGK,KUL,,,,,J,2022-04-17 14:10:00.000,2022-04-17 13:54:00.000,J012,J012,D,Passenger,klia2,3880278.0,9MRCH,17/04/2022 13:54,A,320,LGK,136.0
57627,10869328.0,9MRCH,320,A,LGK,KUL,,,,,J,2022-04-17 21:25:00.000,2022-04-17 20:58:00.000,J007,J007,D,Passenger,klia2,3880353.0,9MRCH,17/04/2022 20:58,A,320,LGK,116.0
57628,10869329.0,9MRAR,32N,A,KBR,KUL,,,,,J,2022-04-17 17:20:00.000,2022-04-17 16:55:00.000,J008,J008,D,Passenger,klia2,3880316.0,9MRAR,17/04/2022 16:55,A,32N,KBR,175.0
57629,10869330.0,9MAGI,32N,A,KBR,KUL,,,,,J,2022-04-17 18:35:00.000,2022-04-17 18:12:00.000,K008,K008,D,Passenger,klia2,3880329.0,9MAGI,17/04/2022 18:12,A,32N,KBR,157.0
57630,10869331.0,9MRAL,320,A,KBR,KUL,,,,,J,2022-04-17 19:30:00.000,2022-04-17 19:04:00.000,K016,K016,D,Passenger,klia2,3880339.0,9MRAL,17/04/2022 19:04,A,32N,KBR,169.0
57636,10869334.0,9MMTO,333,A,HKG,KUL,,,,,J,2022-04-17 18:25:00.000,2022-04-17 18:36:00.000,C034,C034,I,Passenger,KLIA,3880408.0,9MMTO,17/04/2022 18:36,A,333,HKG,88.0
57637,10869342.0,9MMXA,73H,A,SIN,KUL,,,,,J,2022-04-17 18:40:00.000,2022-04-17 18:41:00.000,B006R,B006R,I,Passenger,KLIA,3880403.0,9MMXA,17/04/2022 18:41,A,738,SIN,39.0
57640,10869348.0,9MMLP,73H,A,HKT,KUL,,,,,J,2022-04-17 14:45:00.000,2022-04-17 14:30:00.000,A006L,A006L,I,Passenger,KLIA,3880394.0,9MMLP,17/04/2022 14:30,A,738,HKT,81.0
57641,10869353.0,9MMLQ,73H,A,PEN,KUL,,,,,J,2022-04-18 07:05:00.000,2022-04-18 07:07:00.000,B005,B005,D,Passenger,KLIA,3880428.0,9MMLQ,18/04/2022 7:07,A,738,PEN,77.0
57642,10869361.0,9MMLR,73H,A,PEN,KUL,,,,,J,2022-04-18 07:40:00.000,2022-04-18 07:20:00.000,A007,A007,D,Passenger,KLIA,3880434.0,9MMLR,18/04/2022 7:20,A,738,PEN,101.0

In [27]:
#Write all data of merge_data to csv file with name of merge_data_post_covid_IATA
merge_data.to_csv('merge_data_post_covid_IATA.csv',index=False)

In [28]:
#Assign flight_details2 equal to columns of merge_data [['fl_afskey','fl_internal_key','fl_tail_registration','fl_actual_time','fl_leg','fl_aircraft_type','fl_routing','categorycode','TERMINAL','fl_type_count']]
#print the details of rows & columns for flight_details2
flight_details2 = merge_data[['fl_afskey','fl_internal_key','fl_tail_registration','fl_actual_time','fl_leg','fl_aircraft_type','fl_routing','categorycode','TERMINAL','fl_type_count']]
print(flight_details2.shape)

(17114, 10)

In [29]:
#Assign unique_combo equal to columns of flight_details2['fl_tail_registration','fl_leg','fl_routing'] 
#by grouping on counting flight_details2[fl_afskey]
unique_combo = flight_details2.groupby(['fl_tail_registration','fl_leg','fl_routing'])['fl_afskey'].count().reset_index()

In [30]:
#Display data
unique_combo

     fl_tail_registration fl_leg fl_routing  fl_afskey
0                   4RABM      A        CMB          2
1                   4RABM      D        CMB          2
2                   4RABN      A        CMB          8
3                   4RABN      D        CMB          8
4                   4RABO      A        CMB         11
5                   4RABO      D        CMB         11
6                   4RABQ      A        CMB          3
7                   4RABQ      D        CMB          3
8                   4RALA      A        CMB          1
9                   4RALA      D        CMB          1
...                   ...    ...        ...        ...
4306                XYALB      D        RGN         11
4307                XYALK      A        RGN         17
4308                XYALK      D        RGN         17
4309                XYALL      A        RGN          1
4310                XYALL      D        RGN          1
4311                XYALN      A        RGN         20
4312                XYALN      D        RGN         20
4313                XYALP      A        RGN          1
4314                XYALT      A        RGN         28
4315                XYALT      D        RGN         28

[4316 rows x 4 columns]

In [31]:
#Assign unique_combo['Available'] equal to 'Yes'
#Display data
unique_combo['Available'] = 'Yes'
unique_combo

     fl_tail_registration fl_leg fl_routing  fl_afskey Available
0                   4RABM      A        CMB          2       Yes
1                   4RABM      D        CMB          2       Yes
2                   4RABN      A        CMB          8       Yes
3                   4RABN      D        CMB          8       Yes
4                   4RABO      A        CMB         11       Yes
5                   4RABO      D        CMB         11       Yes
6                   4RABQ      A        CMB          3       Yes
7                   4RABQ      D        CMB          3       Yes
8                   4RALA      A        CMB          1       Yes
9                   4RALA      D        CMB          1       Yes
...                   ...    ...        ...        ...       ...
4306                XYALB      D        RGN         11       Yes
4307                XYALK      A        RGN         17       Yes
4308                XYALK      D        RGN         17       Yes
4309                XYALL      A        RGN          1       Yes
4310                XYALL      D        RGN          1       Yes
4311                XYALN      A        RGN         20       Yes
4312                XYALN      D        RGN         20       Yes
4313                XYALP      A        RGN          1       Yes
4314                XYALT      A        RGN         28       Yes
4315                XYALT      D        RGN         28       Yes

[4316 rows x 5 columns]

In [32]:
#Write all data of merge_data to csv file with name of Unique_combo_post_covid_IATA without writing index
#print the details of rows & columns for
unique_combo.to_csv('Unique_combo_post_covid_IATA.csv',index=False)
print(unique_combo.shape)

(4316, 5)

In [33]:
#Assign for_new_combo equal to columns of flight_details2['fl_leg','fl_routing']
#by grouping on calculate mean of flight_details2['fl_type_count']
for_new_combo = flight_details2.groupby(['fl_leg','fl_routing'])['fl_type_count'].mean().reset_index()
print(for_new_combo.shape)

(146, 3)

In [34]:
#Write all data of merge_data to csv file with name of for_new_combo_post_covid_IATA
for_new_combo.to_csv('for_new_combo_post_covid_IATA.csv',index=False)

In [35]:
#Write all data of merge_data to csv file with name of flight_level_pax_count2_post_covid_IATA
flight_details2.to_csv('flight_level_pax_count2_post_covid_IATA.csv',index=False)

In [36]:
#Assign all data of flight_level_pax_count2_post_covid_IATA.csv to data
data = pd.read_csv('flight_level_pax_count2_post_covid_IATA.csv')

In [37]:
#Display data
data

,fl_afskey,fl_internal_key,fl_tail_registration,fl_actual_time,fl_leg,fl_aircraft_type,fl_routing,categorycode,TERMINAL,fl_type_count
0,10869370.0,3879624.0,9MMXI,17/04/2022 16:26,A,738,KCH,D,KLIA,48.0
1,10869372.0,3879993.0,PKAXY,18/04/2022 8:48,A,320,SUB,I,klia2,70.0
2,10869377.0,3880728.0,9MLCR,17/04/2022 14:11,D,738,CGK,I,KLIA,159.0
3,10869378.0,3879582.0,9MLCR,17/04/2022 18:50,A,738,CGK,I,KLIA,91.0
4,10869849.0,3879723.0,4RANC,17/04/2022 23:29,A,32Q,CMB,I,KLIA,109.0
5,10869850.0,3882456.0,S2AEQ,19/04/2022 7:00,D,73H,DAC,I,KLIA,132.0
6,10869853.0,3882026.0,9VJSQ,18/04/2022 8:45,D,320,SIN,I,klia2,150.0
7,10869857.0,3881561.0,9VJSQ,18/04/2022 14:12,D,320,SIN,I,klia2,161.0
8,10869863.0,3880610.0,9MVAA,18/04/2022 10:07,D,32Q,SIN,I,klia2,140.0
9,10869864.0,3880642.0,9MRAC,18/04/2022 12:26,D,32N,SBW,D,klia2,127.0
...,...,...,...,...,...,...,...,...,...,...
17104,10869327.0,3880278.0,9MRCH,17/04/2022 13:54,A,320,LGK,D,klia2,136.0
17105,10869328.0,3880353.0,9MRCH,17/04/2022 20:58,A,320,LGK,D,klia2,116.0
17106,10869329.0,3880316.0,9MRAR,17/04/2022 16:55,A,32N,KBR,D,klia2,175.0
17107,10869330.0,3880329.0,9MAGI,17/04/2022 18:12,A,32N,KBR,D,klia2,157.0
17108,10869331.0,3880339.0,9MRAL,17/04/2022 19:04,A,32N,KBR,D,klia2,169.0
17109,10869334.0,3880408.0,9MMTO,17/04/2022 18:36,A,333,HKG,I,KLIA,88.0
17110,10869342.0,3880403.0,9MMXA,17/04/2022 18:41,A,738,SIN,I,KLIA,39.0
17111,10869348.0,3880394.0,9MMLP,17/04/2022 14:30,A,738,HKT,I,KLIA,81.0
17112,10869353.0,3880428.0,9MMLQ,18/04/2022 7:07,A,738,PEN,D,KLIA,77.0
17113,10869361.0,3880434.0,9MMLR,18/04/2022 7:20,A,738,PEN,D,KLIA,101.0

In [38]:
#Convert pandas string object into pandas datetime object,
#if invalid parsing, the value will be set as NaT(Not-a-Time, indicate an unknown or missing datetime value)
#Display
data['fl_actual_time'] = pd.to_datetime(data['fl_actual_time'],errors='coerce')
data['fl_actual_time']

0       2022-04-17 16:26:00
1       2022-04-18 08:48:00
2       2022-04-17 14:11:00
3       2022-04-17 18:50:00
4       2022-04-17 23:29:00
5       2022-04-19 07:00:00
6       2022-04-18 08:45:00
7       2022-04-18 14:12:00
8       2022-04-18 10:07:00
9       2022-04-18 12:26:00
                ...
17104   2022-04-17 13:54:00
17105   2022-04-17 20:58:00
17106   2022-04-17 16:55:00
17107   2022-04-17 18:12:00
17108   2022-04-17 19:04:00
17109   2022-04-17 18:36:00
17110   2022-04-17 18:41:00
17111   2022-04-17 14:30:00
17112   2022-04-18 07:07:00
17113   2022-04-18 07:20:00
Name: fl_actual_time, Length: 17114, dtype: datetime64[ns]

In [39]:
#Use function lamda to convert datetime object to object
data['fl_actual_time'] = data['fl_actual_time'].apply(lambda val : val.strftime('%Y-%m-%d %H:%M:%S'))

In [40]:
#Display data
data['fl_actual_time']

0        2022-04-17 16:26:00
1        2022-04-18 08:48:00
2        2022-04-17 14:11:00
3        2022-04-17 18:50:00
4        2022-04-17 23:29:00
5        2022-04-19 07:00:00
6        2022-04-18 08:45:00
7        2022-04-18 14:12:00
8        2022-04-18 10:07:00
9        2022-04-18 12:26:00
                ...
17104    2022-04-17 13:54:00
17105    2022-04-17 20:58:00
17106    2022-04-17 16:55:00
17107    2022-04-17 18:12:00
17108    2022-04-17 19:04:00
17109    2022-04-17 18:36:00
17110    2022-04-17 18:41:00
17111    2022-04-17 14:30:00
17112    2022-04-18 07:07:00
17113    2022-04-18 07:20:00
Name: fl_actual_time, Length: 17114, dtype: object

In [41]:
#Convert string into pandas datetime object
#Display data
data['fl_actual_time'] = pd.to_datetime(data['fl_actual_time'],errors='coerce')
data['fl_actual_time']

0       2022-04-17 16:26:00
1       2022-04-18 08:48:00
2       2022-04-17 14:11:00
3       2022-04-17 18:50:00
4       2022-04-17 23:29:00
5       2022-04-19 07:00:00
6       2022-04-18 08:45:00
7       2022-04-18 14:12:00
8       2022-04-18 10:07:00
9       2022-04-18 12:26:00
                ...
17104   2022-04-17 13:54:00
17105   2022-04-17 20:58:00
17106   2022-04-17 16:55:00
17107   2022-04-17 18:12:00
17108   2022-04-17 19:04:00
17109   2022-04-17 18:36:00
17110   2022-04-17 18:41:00
17111   2022-04-17 14:30:00
17112   2022-04-18 07:07:00
17113   2022-04-18 07:20:00
Name: fl_actual_time, Length: 17114, dtype: datetime64[ns]

In [42]:
#Extract hour value of data['fl_actual_time'] to data['hour']
#Display data
data['hour'] = data['fl_actual_time'].dt.hour
data['hour']

0        16
1         8
2        14
3        18
4        23
5         7
6         8
7        14
8        10
9        12
         ..
17104    13
17105    20
17106    16
17107    18
17108    19
17109    18
17110    18
17111    14
17112     7
17113     7
Name: hour, Length: 17114, dtype: int64

In [43]:
#Assign data['shift_time'] by condition to values 
#whereby if hour<8, data['shift_time']='0000 to 0800'
#else 15>hour>=8, data['shift_time']='0800 to 1500'
#else 21>hour>=15, data['shift_time']='1500 to 2100',
#else hour>=21, data['shift_time']='2100 to 2400''
conditions = [
    (data['hour'] < 8),
    (data['hour'] >= 8) & (data['hour'] < 15),
    (data['hour'] >= 15) & (data['hour'] < 21),
    (data['hour'] >= 21)
    ]

values = ['0000 to 0800', '0800 to 1500', '1500 to 2100', '2100 to 2400']

data['shift_time'] = np.select(conditions, values)
data['shift_time']

0        1500 to 2100
1        0800 to 1500
2        0800 to 1500
3        1500 to 2100
4        2100 to 2400
5        0000 to 0800
6        0800 to 1500
7        0800 to 1500
8        0800 to 1500
9        0800 to 1500
             ...
17104    0800 to 1500
17105    1500 to 2100
17106    1500 to 2100
17107    1500 to 2100
17108    1500 to 2100
17109    1500 to 2100
17110    1500 to 2100
17111    0800 to 1500
17112    0000 to 0800
17113    0000 to 0800
Name: shift_time, Length: 17114, dtype: object

In [44]:
#Convert string value of data['fl_actual_time'] into datetime object
#Apply function to extract value of year, month & date into data['fl_actual_time'] become obejct
#Assign grp_df equal column of data['fl_actual_time'] by grouping on summing of data['fl_actual_time']
#Convert string value of data['fl_actual_time'] into datetime object
data['fl_actual_time'] = pd.to_datetime(data['fl_actual_time'],errors='coerce')
data['fl_actual_time'] = data['fl_actual_time'].apply(lambda val : val.strftime('%Y-%m-%d'))

grp_df = data.groupby(['fl_actual_time'])['fl_type_count'].sum().reset_index()

data['fl_actual_time'] = pd.to_datetime(data['fl_actual_time'],errors='coerce')

In [45]:
#Display data
grp_df

   fl_actual_time  fl_type_count
0      2022-01-03        37385.0
1      2022-01-04        47455.0
2      2022-02-03        37438.0
3      2022-02-04        41517.0
4      2022-03-03        40215.0
5      2022-03-04        37219.0
6      2022-03-13        44566.0
7      2022-03-14        38856.0
8      2022-03-15        37792.0
9      2022-03-16        38333.0
..            ...            ...
47     2022-08-03        35607.0
48     2022-08-04        37934.0
49     2022-09-03        37283.0
50     2022-09-04        34357.0
51     2022-10-03        41185.0
52     2022-10-04        38481.0
53     2022-11-03        43302.0
54     2022-11-04        31232.0
55     2022-12-03        43674.0
56     2022-12-04        25731.0

[57 rows x 2 columns]

In [46]:
#Print columns & rows details for data
#Print number of unique values for column of data[fl_routing]
#Print number of unique values for column of data[fl_aircraft_type]
print(data.shape)
print(data.fl_routing.nunique())
print(data.fl_aircraft_type.nunique())

(17114, 12)
75
35

In [47]:
#Assigning data column for year, month, week, day & day of week
data['year'] = data['fl_actual_time'].dt.year
data['month'] = data['fl_actual_time'].dt.month
data['week'] = data['fl_actual_time'].dt.week
data['day'] = data['fl_actual_time'].dt.day
data['dayofweek'] = data['fl_actual_time'].dt.dayofweek

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7636\2378679227.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  data['week'] = data['fl_actual_time'].dt.week

In [48]:
#Define function to get week number in a month.
#with input parameters: dates (pd.Series): Series of dates.
#Output returns: pd.Series: Week number in a month.
#pd.to_timedelta(dates.dt.day - 1, unit='D') = Convert into timedelta in unit of days
#.dt.weekday = Extrat weekday value, eg monday=0 & sunday=6
def weekinmonth(dates):
    firstday_in_month = dates - pd.to_timedelta(dates.dt.day - 1, unit='d')
    return (dates.dt.day-1 + firstday_in_month.dt.weekday) // 7 + 1

In [49]:
#Execute weekinmonth funtion to get output value of week's number in the month
data['WOM'] = weekinmonth(data['fl_actual_time'])

In [50]:
#Display data
data

,fl_afskey,fl_internal_key,fl_tail_registration,fl_actual_time,fl_leg,fl_aircraft_type,fl_routing,categorycode,TERMINAL,fl_type_count,hour,shift_time,year,month,week,day,dayofweek,WOM
0,10869370.0,3879624.0,9MMXI,2022-04-17,A,738,KCH,D,KLIA,48.0,16,1500 to 2100,2022,4,15,17,6,3
1,10869372.0,3879993.0,PKAXY,2022-04-18,A,320,SUB,I,klia2,70.0,8,0800 to 1500,2022,4,16,18,0,4
2,10869377.0,3880728.0,9MLCR,2022-04-17,D,738,CGK,I,KLIA,159.0,14,0800 to 1500,2022,4,15,17,6,3
3,10869378.0,3879582.0,9MLCR,2022-04-17,A,738,CGK,I,KLIA,91.0,18,1500 to 2100,2022,4,15,17,6,3
4,10869849.0,3879723.0,4RANC,2022-04-17,A,32Q,CMB,I,KLIA,109.0,23,2100 to 2400,2022,4,15,17,6,3
5,10869850.0,3882456.0,S2AEQ,2022-04-19,D,73H,DAC,I,KLIA,132.0,7,0000 to 0800,2022,4,16,19,1,4
6,10869853.0,3882026.0,9VJSQ,2022-04-18,D,320,SIN,I,klia2,150.0,8,0800 to 1500,2022,4,16,18,0,4
7,10869857.0,3881561.0,9VJSQ,2022-04-18,D,320,SIN,I,klia2,161.0,14,0800 to 1500,2022,4,16,18,0,4
8,10869863.0,3880610.0,9MVAA,2022-04-18,D,32Q,SIN,I,klia2,140.0,10,0800 to 1500,2022,4,16,18,0,4
9,10869864.0,3880642.0,9MRAC,2022-04-18,D,32N,SBW,D,klia2,127.0,12,0800 to 1500,2022,4,16,18,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17104,10869327.0,3880278.0,9MRCH,2022-04-17,A,320,LGK,D,klia2,136.0,13,0800 to 1500,2022,4,15,17,6,3
17105,10869328.0,3880353.0,9MRCH,2022-04-17,A,320,LGK,D,klia2,116.0,20,1500 to 2100,2022,4,15,17,6,3
17106,10869329.0,3880316.0,9MRAR,2022-04-17,A,32N,KBR,D,klia2,175.0,16,1500 to 2100,2022,4,15,17,6,3
17107,10869330.0,3880329.0,9MAGI,2022-04-17,A,32N,KBR,D,klia2,157.0,18,1500 to 2100,2022,4,15,17,6,3
17108,10869331.0,3880339.0,9MRAL,2022-04-17,A,32N,KBR,D,klia2,169.0,19,1500 to 2100,2022,4,15,17,6,3
17109,10869334.0,3880408.0,9MMTO,2022-04-17,A,333,HKG,I,KLIA,88.0,18,1500 to 2100,2022,4,15,17,6,3
17110,10869342.0,3880403.0,9MMXA,2022-04-17,A,738,SIN,I,KLIA,39.0,18,1500 to 2100,2022,4,15,17,6,3
17111,10869348.0,3880394.0,9MMLP,2022-04-17,A,738,HKT,I,KLIA,81.0,14,0800 to 1500,2022,4,15,17,6,3
17112,10869353.0,3880428.0,9MMLQ,2022-04-18,A,738,PEN,D,KLIA,77.0,7,0000 to 0800,2022,4,16,18,0,4
17113,10869361.0,3880434.0,9MMLR,2022-04-18,A,738,PEN,D,KLIA,101.0,7,0000 to 0800,2022,4,16,18,0,4

In [51]:
#Assign sorted values of data['fl_actual_time'] into temp
temp = data.sort_values('fl_actual_time')

In [52]:
#Display data with setting
pd.options.display.max_rows= 20
temp.head(20)

,fl_afskey,fl_internal_key,fl_tail_registration,fl_actual_time,fl_leg,fl_aircraft_type,fl_routing,categorycode,TERMINAL,fl_type_count,hour,shift_time,year,month,week,day,dayofweek,WOM
2702,10791898.0,3864166.0,9MMSA,2022-01-03,A,738,BKI,D,KLIA,58.0,22,2100 to 2400,2022,1,1,3,0,2
2722,10791985.0,3863902.0,9MMTC,2022-01-03,A,333,SIN,I,KLIA,159.0,15,1500 to 2100,2022,1,1,3,0,2
2721,10791984.0,3865770.0,9MMLN,2022-01-03,A,738,KBR,D,KLIA,126.0,16,1500 to 2100,2022,1,1,3,0,2
2720,10791983.0,3864906.0,9MRCH,2022-01-03,A,320,LGK,D,klia2,96.0,11,0800 to 1500,2022,1,1,3,0,2
2719,10791982.0,3864916.0,9MVAB,2022-01-03,A,32Q,SIN,I,klia2,158.0,12,0800 to 1500,2022,1,1,3,0,2
2718,10791967.0,3864887.0,9MAFF,2022-01-03,A,320,LGK,D,klia2,71.0,11,0800 to 1500,2022,1,1,3,0,2
2717,10791966.0,3865042.0,9MRAR,2022-01-03,A,32N,TWU,D,klia2,147.0,19,1500 to 2100,2022,1,1,3,0,2
2716,10791965.0,3864169.0,9MMTY,2022-01-03,A,332,JED,I,KLIA,243.0,16,1500 to 2100,2022,1,1,3,0,2
2715,10791956.0,3864150.0,9MMXU,2022-01-03,A,73H,KTM,I,KLIA,116.0,19,1500 to 2100,2022,1,1,3,0,2
2714,10791955.0,3864897.0,9MRAO,2022-01-03,A,32N,SBW,D,klia2,145.0,11,0800 to 1500,2022,1,1,3,0,2
2713,10791954.0,3863918.0,9MMTZ,2022-01-03,A,332,MED,I,KLIA,224.0,11,0800 to 1500,2022,1,1,3,0,2
2712,10791944.0,3863901.0,9MMXB,2022-01-03,A,738,MYY,D,KLIA,91.0,19,1500 to 2100,2022,1,1,3,0,2
2711,10791942.0,3864917.0,9MRAJ,2022-01-03,A,32N,BKI,D,klia2,129.0,13,0800 to 1500,2022,1,1,3,0,2
2710,10791935.0,3864165.0,9MMXO,2022-01-03,A,738,TWU,D,KLIA,100.0,17,1500 to 2100,2022,1,1,3,0,2
2709,10791927.0,3864162.0,9MMSB,2022-01-03,A,738,KCH,D,KLIA,131.0,15,1500 to 2100,2022,1,1,3,0,2
2707,10791924.0,3863937.0,9MLNV,2022-01-03,A,73H,BKI,D,KLIA,89.0,13,0800 to 1500,2022,1,1,3,0,2
2723,10791994.0,3865055.0,9MAGT,2022-01-03,A,320,BKI,D,klia2,118.0,20,1500 to 2100,2022,1,1,3,0,2
2724,10791995.0,3864141.0,9MMTK,2022-01-03,A,333,MEL,I,KLIA,68.0,18,1500 to 2100,2022,1,1,3,0,2
2725,10792001.0,3864152.0,9MMSG,2022-01-03,A,738,PEN,D,KLIA,65.0,16,1500 to 2100,2022,1,1,3,0,2
2726,10792010.0,3864159.0,9MMXE,2022-01-03,A,738,KCH,D,KLIA,125.0,23,2100 to 2400,2022,1,1,3,0,2

In [53]:
#Grouping columns of temp['fl_tail_registration','fl_routing','fl_leg','categorycode','TERMINAL'] by 'mean', 'min', 'max', 'median', 'last'
temp = temp.groupby(['fl_tail_registration','fl_routing','fl_leg','categorycode','TERMINAL'])['fl_type_count'].agg(['mean','min','max','median','last']).reset_index()

In [54]:
#Display data
temp

,fl_tail_registration,fl_routing,fl_leg,categorycode,TERMINAL,mean,min,max,median,last
0,4RABM,CMB,A,I,KLIA,101.000000,89.0,113.0,101.0,113.0
1,4RABM,CMB,D,I,KLIA,119.500000,115.0,124.0,119.5,124.0
2,4RABN,CMB,A,I,KLIA,116.125000,93.0,128.0,118.5,118.0
3,4RABN,CMB,D,I,KLIA,117.625000,103.0,125.0,118.5,124.0
4,4RABO,CMB,A,I,KLIA,107.636364,30.0,132.0,117.0,131.0
5,4RABO,CMB,D,I,KLIA,109.545455,66.0,131.0,117.0,127.0
6,4RABQ,CMB,A,I,KLIA,107.000000,81.0,154.0,86.0,81.0
7,4RABQ,CMB,D,I,KLIA,89.333333,70.0,114.0,84.0,70.0
8,4RALA,CMB,A,I,KLIA,132.000000,132.0,132.0,132.0,132.0
9,4RALA,CMB,D,I,KLIA,122.000000,122.0,122.0,122.0,122.0
...,...,...,...,...,...,...,...,...,...,...
4306,XYALB,RGN,D,I,KLIA,93.454545,68.0,125.0,92.0,99.0
4307,XYALK,RGN,A,I,KLIA,91.647059,9.0,135.0,121.0,129.0
4308,XYALK,RGN,D,I,KLIA,81.000000,7.0,136.0,96.0,136.0
4309,XYALL,RGN,A,I,KLIA,117.000000,117.0,117.0,117.0,117.0
4310,XYALL,RGN,D,I,KLIA,137.000000,137.0,137.0,137.0,137.0
4311,XYALN,RGN,A,I,KLIA,107.400000,9.0,138.0,126.5,123.0
4312,XYALN,RGN,D,I,KLIA,100.250000,7.0,134.0,123.0,127.0
4313,XYALP,RGN,A,I,KLIA,87.000000,87.0,87.0,87.0,87.0
4314,XYALT,RGN,A,I,KLIA,146.392857,88.0,164.0,150.0,126.0
4315,XYALT,RGN,D,I,KLIA,144.750000,114.0,168.0,145.5,131.0

In [55]:
temp1 = pd.merge(data,temp,how='left',on=['fl_tail_registration','fl_routing','fl_leg','categorycode','TERMINAL'])

In [56]:
temp1 = temp1.drop(['fl_afskey','fl_aircraft_type','fl_actual_time','fl_aircraft_type','hour','shift_time','year','month','week','day','dayofweek','WOM'], axis = 1)

In [57]:
temp1

,fl_internal_key,fl_tail_registration,fl_leg,fl_routing,categorycode,TERMINAL,fl_type_count,mean,min,max,median,last
0,3879624.0,9MMXI,A,KCH,D,KLIA,48.0,126.125000,48.0,159.0,131.0,131.0
1,3879993.0,PKAXY,A,SUB,I,klia2,70.0,67.461538,40.0,104.0,69.0,40.0
2,3880728.0,9MLCR,D,CGK,I,KLIA,159.0,145.687500,117.0,162.0,149.5,150.0
3,3879582.0,9MLCR,A,CGK,I,KLIA,91.0,74.187500,17.0,145.0,74.0,77.0
4,3879723.0,4RANC,A,CMB,I,KLIA,109.0,111.222222,29.0,165.0,118.0,142.0
5,3882456.0,S2AEQ,D,DAC,I,KLIA,132.0,110.625000,69.0,144.0,111.5,94.0
6,3882026.0,9VJSQ,D,SIN,I,klia2,150.0,96.052632,8.0,161.0,107.0,100.0
7,3881561.0,9VJSQ,D,SIN,I,klia2,161.0,96.052632,8.0,161.0,107.0,100.0
8,3880610.0,9MVAA,D,SIN,I,klia2,140.0,161.352941,118.0,203.0,166.0,125.0
9,3880642.0,9MRAC,D,SBW,D,klia2,127.0,101.777778,66.0,131.0,100.0,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...
17104,3880278.0,9MRCH,A,LGK,D,klia2,136.0,108.363636,53.0,162.0,114.0,122.0
17105,3880353.0,9MRCH,A,LGK,D,klia2,116.0,108.363636,53.0,162.0,114.0,122.0
17106,3880316.0,9MRAR,A,KBR,D,klia2,175.0,138.923077,106.0,175.0,134.0,170.0
17107,3880329.0,9MAGI,A,KBR,D,klia2,157.0,123.333333,90.0,157.0,118.0,111.0
17108,3880339.0,9MRAL,A,KBR,D,klia2,169.0,138.666667,109.0,169.0,144.5,150.0
17109,3880408.0,9MMTO,A,HKG,I,KLIA,88.0,88.000000,88.0,88.0,88.0,88.0
17110,3880403.0,9MMXA,A,SIN,I,KLIA,39.0,39.000000,39.0,39.0,39.0,39.0
17111,3880394.0,9MMLP,A,HKT,I,KLIA,81.0,81.000000,81.0,81.0,81.0,81.0
17112,3880428.0,9MMLQ,A,PEN,D,KLIA,77.0,104.285714,62.0,139.0,104.0,82.0
17113,3880434.0,9MMLR,A,PEN,D,KLIA,101.0,103.000000,78.0,130.0,102.0,101.0

In [58]:
#Write all data of temp into pax_agg_post_covid_IATA.csv whereby do not re-indexing
temp1.to_csv('pax_agg_post_covid_IATA.csv',index=False)

In [59]:
#Merging dataframe of data & temp by left join of data as a & temp as b,
#whereby a.fl_tail_registration = b.fl_tail_registration, a.fl_routing = b.fl_routing, a.fl_leg =b.fl_leg,
#a.categorycode = b.categorycode & a.TERMINAL = b.TERMINAL
data = pd.merge(data,temp,how='left',on=['fl_tail_registration','fl_routing','fl_leg','categorycode','TERMINAL'])

In [60]:
data

,fl_afskey,fl_internal_key,fl_tail_registration,fl_actual_time,fl_leg,fl_aircraft_type,fl_routing,categorycode,TERMINAL,fl_type_count,hour,shift_time,year,month,week,day,dayofweek,WOM,mean,min,max,median,last
0,10869370.0,3879624.0,9MMXI,2022-04-17,A,738,KCH,D,KLIA,48.0,16,1500 to 2100,2022,4,15,17,6,3,126.125000,48.0,159.0,131.0,131.0
1,10869372.0,3879993.0,PKAXY,2022-04-18,A,320,SUB,I,klia2,70.0,8,0800 to 1500,2022,4,16,18,0,4,67.461538,40.0,104.0,69.0,40.0
2,10869377.0,3880728.0,9MLCR,2022-04-17,D,738,CGK,I,KLIA,159.0,14,0800 to 1500,2022,4,15,17,6,3,145.687500,117.0,162.0,149.5,150.0
3,10869378.0,3879582.0,9MLCR,2022-04-17,A,738,CGK,I,KLIA,91.0,18,1500 to 2100,2022,4,15,17,6,3,74.187500,17.0,145.0,74.0,77.0
4,10869849.0,3879723.0,4RANC,2022-04-17,A,32Q,CMB,I,KLIA,109.0,23,2100 to 2400,2022,4,15,17,6,3,111.222222,29.0,165.0,118.0,142.0
5,10869850.0,3882456.0,S2AEQ,2022-04-19,D,73H,DAC,I,KLIA,132.0,7,0000 to 0800,2022,4,16,19,1,4,110.625000,69.0,144.0,111.5,94.0
6,10869853.0,3882026.0,9VJSQ,2022-04-18,D,320,SIN,I,klia2,150.0,8,0800 to 1500,2022,4,16,18,0,4,96.052632,8.0,161.0,107.0,100.0
7,10869857.0,3881561.0,9VJSQ,2022-04-18,D,320,SIN,I,klia2,161.0,14,0800 to 1500,2022,4,16,18,0,4,96.052632,8.0,161.0,107.0,100.0
8,10869863.0,3880610.0,9MVAA,2022-04-18,D,32Q,SIN,I,klia2,140.0,10,0800 to 1500,2022,4,16,18,0,4,161.352941,118.0,203.0,166.0,125.0
9,10869864.0,3880642.0,9MRAC,2022-04-18,D,32N,SBW,D,klia2,127.0,12,0800 to 1500,2022,4,16,18,0,4,101.777778,66.0,131.0,100.0,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17104,10869327.0,3880278.0,9MRCH,2022-04-17,A,320,LGK,D,klia2,136.0,13,0800 to 1500,2022,4,15,17,6,3,108.363636,53.0,162.0,114.0,122.0
17105,10869328.0,3880353.0,9MRCH,2022-04-17,A,320,LGK,D,klia2,116.0,20,1500 to 2100,2022,4,15,17,6,3,108.363636,53.0,162.0,114.0,122.0
17106,10869329.0,3880316.0,9MRAR,2022-04-17,A,32N,KBR,D,klia2,175.0,16,1500 to 2100,2022,4,15,17,6,3,138.923077,106.0,175.0,134.0,170.0
17107,10869330.0,3880329.0,9MAGI,2022-04-17,A,32N,KBR,D,klia2,157.0,18,1500 to 2100,2022,4,15,17,6,3,123.333333,90.0,157.0,118.0,111.0
17108,10869331.0,3880339.0,9MRAL,2022-04-17,A,32N,KBR,D,klia2,169.0,19,1500 to 2100,2022,4,15,17,6,3,138.666667,109.0,169.0,144.5,150.0
17109,10869334.0,3880408.0,9MMTO,2022-04-17,A,333,HKG,I,KLIA,88.0,18,1500 to 2100,2022,4,15,17,6,3,88.000000,88.0,88.0,88.0,88.0
17110,10869342.0,3880403.0,9MMXA,2022-04-17,A,738,SIN,I,KLIA,39.0,18,1500 to 2100,2022,4,15,17,6,3,39.000000,39.0,39.0,39.0,39.0
17111,10869348.0,3880394.0,9MMLP,2022-04-17,A,738,HKT,I,KLIA,81.0,14,0800 to 1500,2022,4,15,17,6,3,81.000000,81.0,81.0,81.0,81.0
17112,10869353.0,3880428.0,9MMLQ,2022-04-18,A,738,PEN,D,KLIA,77.0,7,0000 to 0800,2022,4,16,18,0,4,104.285714,62.0,139.0,104.0,82.0
17113,10869361.0,3880434.0,9MMLR,2022-04-18,A,738,PEN,D,KLIA,101.0,7,0000 to 0800,2022,4,16,18,0,4,103.000000,78.0,130.0,102.0,101.0

In [61]:
#Model Building
from pycaret.regression import *

exp_1 = setup(data=data,target='fl_type_count',train_size=0.8,
              categorical_features=['fl_tail_registration','fl_leg','fl_routing','categorycode','TERMINAL','shift_time'],
              ignore_features=['fl_actual_time','fl_afskey','fl_internal_key','fl_aircraft_type'],
              numeric_features=['year','month','week','day','dayofweek','WOM','hour','mean','median','min','max','last'],session_id=123,silent=True
             )

C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sktime\utils\validation\series.py:21: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sktime\forecasting\base\_fh.py:18: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  RELATIVE_TYPES = (pd.Int64Index, pd.RangeIndex)
C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sktime\forecasting\base\_fh.py:19: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  ABSOLUTE_TYPES = (pd.Int64Index, pd.RangeIndex, pd.DatetimeIndex, pd.PeriodIndex)
C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sktime\datatypes\_series\_check.py:43: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sktime\datatypes\_hierarchical\_check.py:50: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sktime\datatypes\_hierarchical\_check.py:51: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_MULTIINDEX_TYPES = (pd.Int64Index, pd.RangeIndex)
C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sktime\datatypes\_panel\_check.py:48: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sktime\datatypes\_panel\_check.py:49: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_MULTIINDEX_TYPES = (pd.Int64Index, pd.RangeIndex)

In [62]:
#Comparing all ML models
best_models = compare_models()

In [63]:
#List ML Models
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
xgboost,Extreme Gradient Boosting,xgboost.sklearn.XGBRegressor,True
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True
dummy,Dummy Regressor,sklearn.dummy.DummyRegressor,True

In [64]:
#Create Linear Regression Model
lr = create_model('lr')

In [65]:
#Tune model by automatic choosing better
tuned_lr = tune_model(lr, choose_better = True)

In [66]:
#Tune model optuna
tune_model(lr, search_library = 'optuna')

LinearRegression(n_jobs=-1)

In [67]:
#Tune model scikit-optimize
tune_model(lr, search_library = 'scikit-optimize')

LinearRegression(n_jobs=-1)

In [ ]:
#Tune model tune-sklearn
tune_model(lr, search_library = 'tune-sklearn', search_algorithm = 'hyperopt')

2022-06-08 19:24:03,062	INFO trial_runner.py:803 -- starting _Trainable_800f739c
2022-06-08 19:24:03,124	INFO trial_runner.py:803 -- starting _Trainable_801d94fe
2022-06-08 19:24:03,165	INFO trial_runner.py:803 -- starting _Trainable_802225c4
2022-06-08 19:24:03,209	INFO trial_runner.py:803 -- starting _Trainable_8028b102
2022-06-08 19:24:03,265	INFO trial_runner.py:803 -- starting _Trainable_802f8a16
2022-06-08 19:24:03,319	INFO trial_runner.py:803 -- starting _Trainable_8038f97f
(_Trainable pid=13456) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
(_Trainable pid=13456)   warnings.warn(
(_Trainable pid=13752) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
(_Trainable pid=13752)   warnings.warn(
(_Trainable pid=4788) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
(_Trainable pid=4788)   warnings.warn(
(_Trainable pid=13456) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
(_Trainable pid=13456)   warnings.warn(
2022-06-08 19:24:05,933	INFO trial_runner.py:803 -- starting _Trainable_8044ff43
(_Trainable pid=13752) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
(_Trainable pid=13752)   warnings.warn(
(_Trainable pid=4788) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
(_Trainable pid=4788)   warnings.warn(
(_Trainable pid=13456) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
(_Trainable pid=13456) If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:
(_Trainable pid=13456)
(_Trainable pid=13456) from sklearn.pipeline import make_pipeline
(_Trainable pid=13456)
(_Trainable pid=13456) model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())
(_Trainable pid=13456)
(_Trainable pid=13456) If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:
(_Trainable pid=13456)
(_Trainable pid=13456) kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
(_Trainable pid=13456) model.fit(X, y, **kwargs)
(_Trainable pid=13456)
(_Trainable pid=13456)
(_Trainable pid=13456)   warnings.warn(
(_Trainable pid=13752) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
(_Trainable pid=13752)   warnings.warn(
(_Trainable pid=4788) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
(_Trainable pid=4788)   warnings.warn(
(_Trainable pid=13456) C:\Users\Lenovo\.conda\envs\tpe\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
(_Trainable pid=13456) If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:
(_Trainable pid=13456)
(_Trainable pid=13456) from sklearn.pipeline import make_pipeline
(_Trainable pid=13456)
(_Trainable pid=13456) model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())
(_Trainable pid=13456)
(_Trainable pid=13456) If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:
(_Trainable pid=13456)
(_Trainable pid=13456) kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
(_Trainable pid=13456) model.fit(X, y, **kwargs)
(_Trainable pid=13456)
(_Trainable pid=13456)
(_Trainable pid=13456)   warnings.warn(

In [ ]:
#Plot tuned Linear Regression Model residual plot
plot_model(tuned_lr)

In [ ]:
#Plot tuned Linear Regression Model prediction error plot
plot_model(tuned_lr, plot = 'error')

In [ ]:
#Plot tuned Linear Regression Model feature important plot
plot_model(tuned_lr, plot='feature')

In [ ]:
#Analyze performance of tuned Linear Regression Model
evaluate_model(tuned_lr)

In [ ]:
#Predict On Test Sample
predict_model(tuned_lr);

In [ ]:
#Finalize tuned Extra Trees Regressor Model for deployment
final_lr = finalize_model(tuned_lr)

In [ ]:
#Deploy
predict_model(final_lr);

In [ ]:
#Save tuned Extra Trees Regressor Model
save_model(final_lr,'Final_Linear_Regression')

In [ ]:
pd.options.display.max_columns = 23
data

In [ ]:
data.shape